{% extends "base.html.twig" %}

{% block Template %}
    {% if (galerie is not null) %}
    {% include "OutilsTemplates/Carrousel.html.twig" %}
    {% endif %}
{% endblock %}

{% block Body %}
    <h1>Bienvenue sur le site du Club de karaté VIKA</h1>
    <h2>Villeneuve-d'Ascq Karaté Do Association</h2>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                    <div class="card-header"><h4>{{ contentPage.title }}</h4></div>
                    <!-- .card-body -->
                    <div class="card-body">


                        <h6 class="card-subtitle mb-2 text-muted"> {{ contentPage.subtitle }} </h6>
                        <div class="content">
                            <p class="card-text">
                                {{ contentPage.content| raw }}
                            </p>
                            {% if (is_granted('ROLE_ADMIN')) %}
                                <div align="right"><a class="btn btn-primary btn-md"
                                                      href="{{ path('home_pageedit', {'path':contentPage.path}) }}"
                                                      role="button">Editer</a></div>
                            {% endif %}
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- Actualités-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                    <div class="card-header"><h4>Actualités</h4></div><!-- .card-body -->
                    {% if (galerie is not null) %}
                    {% include "OutilsTemplates/CarrouselArticles.html.twig" %}
                    {% endif %}

                    {#                        <div class="card-body">#}
                    {#                            <div class="row justify-content-md-center">#}
                    {#                                <!-- Inserer boucle ici-->#}
                    {#                                {% set nbr = 0 %}#}
                    {#                                {% for article in articles %}#}

                    {#                                {% set nbr = nbr + 1 %}#}
                    {#                                    {% if nbr < 3 %}#}
                    {#                                    #}
                    {#                                    <div class="col-lg-5">#}
                    {#                                        <div class="card">#}
                    {#                                            <!-- .card-header -->#}
                    {#                                            <div class="card-body">#}
                    {#                                                <h5 class="card-title"> {{ article.title }} </h5>#}
                    {#                                            </div><!-- /.card-body -->#}
                    {#                                            <!-- 16:9 aspect ratio -->#}
                    {#                                            <figure class="embed-responsive embed-responsive-16by9 mb-0">#}
                    {#                                                <img class="embed-responsive-item" src="{{ asset('/upload/media/' ~ article.imageName)}}" alt="Card image">#}
                    {#                                            </figure>#}
                    {#                                            <!-- .card-body -->#}
                    {#                                            <div class="card-body">#}
                    {#                                                <p class="card-text">#}
                    {#                                                    {{ article.content|raw }}#}
                    {#                                                </p>#}
                    {#                                            </div>#}
                    {#                                            <div class="card-footer">#}
                    {#                                                    <div class="card-footer-content text-muted">#}
                    {#                                                        <div class="row">#}
                    {#                                                            <div class="col">#}
                    {#                                                                <div class="metadata">Ecrit le {{ article.createdAt |date('d/m/Y')}} à {{article.createdAt |date('H:i')}} dans la catégorie {{article.category.title}}</div>#}
                    {#                                                            </div>#}
                    {#                                                        </div>#}
                    {#                                    #}
                    {#                                                        <div class="row">#}
                    {#                                                            <div class="col-4">#}
                    {#                                                                <div class="card-footer-content text-muted">#}
                    {#                                                                    <a class="btn btn-primary btn-md" href="{{ path('blog_show', {'id':article.id}) }}" role="button">Lire la suite</a>#}
                    {#                                                                </div>#}
                    {#                                                            </div>#}
                    {#                                                        </div>#}
                    {#                                                    </div>#}
                    {#                                            </div>                                #}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                    {% else %}#}
                    {#                                        #}
                    {#                                    {% endif %}#}
                    {#                                {% endfor %}#}
                    {#                            </div>#}
                    {#                        </div>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Evènements -->
{#
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                    <div class="card-header"><h4>Evènements</h4></div><!-- .card-body -->

                    {% include "OutilsTemplates/CarrouselEvent.html.twig" %}
                    </div><!-- /.board -->
                </div><!-- /.page-inner -->

            </div><!-- /.page -->
        </div>
#}

    <!-- Sponsors -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><h4>Sponsors</h4></div><!-- .card-body -->
            {% include "OutilsTemplates/CarrouselSponsors.html.twig" %}
        </div>
    </div>

{% endblock %}
