{% extends "base.html.twig" %}

{% block Template %}
    {% include "OutilsTemplates/Carrousel.html.twig" %}
{% endblock %}

{% block Body %}
    <h1>Bienvenue sur le site du Club de karaté VIKA</h1>
    <h2>Villeneuve-ascq</h2>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                    <div class="card-header"><h4>{{ contentPage.title }}</h4></div>
                    <!-- .card-body -->
                    <div class="card-body">


                        <h6 class="card-subtitle mb-2 text-muted"> {{ contentPage.subtitle }} </h6>
                        <div class="content">
                            <p class="card-text">
                                {{ contentPage.content| raw }}
                            </p>
                            {% if (is_granted('ROLE_ADMIN')) %}
                                <div align="right"><a class="btn btn-primary btn-md"
                                                      href="{{ path('home_pageedit', {'path':contentPage.path}) }}"
                                                      role="button">Editer</a></div>
                            {% endif %}
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- Actualités-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                    <div class="card-header"><h4>Actualités</h4></div><!-- .card-body -->
                    {% include "OutilsTemplates/CarrouselArticles.html.twig" %}

                    {#                        <div class="card-body">#}
                    {#                            <div class="row justify-content-md-center">#}
                    {#                                <!-- Inserer boucle ici-->#}
                    {#                                {% set nbr = 0 %}#}
                    {#                                {% for article in articles %}#}

                    {#                                {% set nbr = nbr + 1 %}#}
                    {#                                    {% if nbr < 3 %}#}
                    {#                                    #}
                    {#                                    <div class="col-lg-5">#}
                    {#                                        <div class="card">#}
                    {#                                            <!-- .card-header -->#}
                    {#                                            <div class="card-body">#}
                    {#                                                <h5 class="card-title"> {{ article.title }} </h5>#}
                    {#                                            </div><!-- /.card-body -->#}
                    {#                                            <!-- 16:9 aspect ratio -->#}
                    {#                                            <figure class="embed-responsive embed-responsive-16by9 mb-0">#}
                    {#                                                <img class="embed-responsive-item" src="{{ asset('/upload/media/' ~ article.imageName)}}" alt="Card image">#}
                    {#                                            </figure>#}
                    {#                                            <!-- .card-body -->#}
                    {#                                            <div class="card-body">#}
                    {#                                                <p class="card-text">#}
                    {#                                                    {{ article.content|raw }}#}
                    {#                                                </p>#}
                    {#                                            </div>#}
                    {#                                            <div class="card-footer">#}
                    {#                                                    <div class="card-footer-content text-muted">#}
                    {#                                                        <div class="row">#}
                    {#                                                            <div class="col">#}
                    {#                                                                <div class="metadata">Ecrit le {{ article.createdAt |date('d/m/Y')}} à {{article.createdAt |date('H:i')}} dans la catégorie {{article.category.title}}</div>#}
                    {#                                                            </div>#}
                    {#                                                        </div>#}
                    {#                                    #}
                    {#                                                        <div class="row">#}
                    {#                                                            <div class="col-4">#}
                    {#                                                                <div class="card-footer-content text-muted">#}
                    {#                                                                    <a class="btn btn-primary btn-md" href="{{ path('blog_show', {'id':article.id}) }}" role="button">Lire la suite</a>#}
                    {#                                                                </div>#}
                    {#                                                            </div>#}
                    {#                                                        </div>#}
                    {#                                                    </div>#}
                    {#                                            </div>                                #}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                    {% else %}#}
                    {#                                        #}
                    {#                                    {% endif %}#}
                    {#                                {% endfor %}#}
                    {#                            </div>#}
                    {#                        </div>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Evènements -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md">
                <div class="card">
                    <div class="card-header"><h4>Evènements</h4></div><!-- .card-body -->
                    <div class="page has-sidebar has-sidebar-fixed has-sidebar-expand-xl">
                        <!-- .page-inner -->
                        <div class="page-inner page-inner-fill">
                            <!-- .page-navs -->
                            <nav class="page-navs pr-3">
                                <div class="btn-group">
                                    <button id="calendar-prev" class="btn btn-secondary"><i
                                                class="fa fa-chevron-left"></i></button>
                                    <button id="calendar-today" class="btn btn-secondary">Today</button>
                                    <button id="calendar-next" class="btn btn-secondary"><i
                                                class="fa fa-chevron-right"></i></button>
                                </div>
                                <div class="ml-auto">
                                    <button type="button" class="btn btn-success">Add event</button>
                                    <button type="button" class="btn btn-secondary d-xl-none" data-toggle="sidebar"><i
                                                class="fas fa-tasks"></i></button>
                                </div>
                            </nav><!-- /.page-navs -->
                            <!-- .board -->
                            <div class="board">
                                <div class="card">
                                    <div id="calendar"></div>
                                </div>
                            </div><!-- /.board -->
                        </div><!-- /.page-inner -->
                        <!-- .page-sidebar -->
                        {#                        <div class="page-sidebar page-sidebar-fixed">#}
                        {#                        <!-- .sidebar-header -->#}
                        {#                        <header class="sidebar-header d-sm-none">#}
                        {#                            <nav aria-label="breadcrumb">#}
                        {#                            <ol class="breadcrumb">#}
                        {#                                <li class="breadcrumb-item active">#}
                        {#                                <a href="#" onclick="Looper.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>#}
                        {#                                </li>#}
                        {#                            </ol>#}
                        {#                            </nav>#}
                        {#                        </header><!-- /.sidebar-header -->#}
                        {#                        <!-- .sidebar-section-fill -->#}
                        {#                        <div class="sidebar-section-fill">#}
                        {#                            <!-- .calendar-list -->#}
                        {#                            <div id="calendar-list"></div><!-- /.calendar-list -->#}
                        {#                        </div><!-- /.sidebar-section-fill -->#}
                        {#                        </div><!-- /.page-sidebar -->#}
                    </div><!-- /.page -->
                </div>
            </div>
        </div>
    </div>
    <!-- Sponsors -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><h4>Sponsors</h4></div><!-- .card-body -->
            {% include "OutilsTemplates/CarrouselSponsors.html.twig" %}
        </div>
    </div>

{% endblock %}
