{% extends 'base.html.twig'%}

{% block Body %}
    {% if app.user %}

    <p>Vous êtes déjà inscrit</p>
    <a href="{{ path('security_logout') }}" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Déconnexion?</a>
    {% else %}
    <h1>Inscription sur le site</h1>

    {{form_start(formReg)}}
    {{form_start(formUser)}}
    {{ form_row(formUser.name, {'label': 'Prénom', 'attr': {'placeholder':'Prénom...'}}) }}
    {{ form_row(formUser.firstname, {'label': 'Nom', 'attr': {'placeholder':'Nom...'}}) }}
    {{ form_row(formReg.email, {'label': 'Adresse email', 'attr': {'placeholder':'Adresse email...'}}) }}
    {{ form_row(formUser.birthdate, {'label': 'Date de naissance', 'attr': {'placeholder':'Date de naissance...'}}) }}
    {{ form_row(formReg.password, {'label': 'Mot de passe', 'attr': {'placeholder':'Mot de passe...'}}) }}
    {{ form_row(formReg.confirm_password, {'label': 'Confirmez le mot de passe', 'attr': {'placeholder':'Confirmez svp...'}}) }}


       <button type="submit" class="btn btn-success">Inscription!</button>

    {{ form_end(formReg) }}
    {{ form_end(formUser) }}

    {% endif %}

{% endblock %}
