{% extends 'base.html.twig'%}

{% block Body %}
    {% if app.user %}

    <p>Vous êtes déjà inscrit</p>
    <a href="{{ path('security_logout') }}" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Déconnexion?</a>
    {% else %}
    <h1>Inscription sur le site</h1>

    {{form_start(formReg)}}
    {{form_start(formUser)}}
    {{ form_row(formUser.name, {'label': 'Nom', 'attr': {'placeholder':'Nom...'}}) }}
    {{ form_row(formUser.firstname, {'label': 'Prénom', 'attr': {'placeholder':'Prénom...'}}) }}
    {{ form_row(formReg.email, {'label': 'Adresse email', 'attr': {'placeholder':'Adresse email...'}}) }}
    {{ form_row(formUser.birthdate, {'label': 'Date de naissance', 'attr': {'placeholder':'Date de naissance...'}}) }}
    {{ form_row(formReg.password, {'label': 'Mot de passe', 'attr': {'placeholder':'Mot de passe...'}}) }}
    {{ form_row(formReg.confirm_password, {'label': 'Confirmez le mot de passe', 'attr': {'placeholder':'Confirmez svp...'}}) }}
    {{ form_row(formReg.gdpr, {'label': 'En cochant, je confirme accepter les conditions GPDR', 'attr': {'placeholder':'Confirmez svp...'}}) }}
        <a class="btn btn-link"
           href="{{ asset('/upload/document/' ~ AttachedFile.docname) }}">Voir nos conditions générales</a>

    <div id="aff">
        <button type="submit" id="affiche" class="btn btn-success">
            {# <span class="text-hover">Inscription!</span> #}
            <span class="text-base">Inscription!</span>
        </button>
        </br>
        </br>
        {# <h5 class="text-hover2">!Vérifiez vos données avant de confirmer votre inscription!</h5> #}
    </div>

    {#
    <style>
        .text-base{
            opacity: 1;
            }
        .text-hover{
            display: none;
            }
        .text-hover2{
            opacity: 0;
            }
        #aff:hover span.text-base{
            opacity: 0;
            }
        #affiche:hover{
            background-color: red;
            }
        #aff:hover span.text-base{
            opacity: 0;
            }
        #aff:hover span.text-hover{
            display: inherit;
            position: absolute;
            }
        #aff:hover .text-hover2{
            color: red;
            opacity: 0;
            }
       </style>
       #}

    {{ form_end(formReg) }}
    {{ form_end(formUser) }}

    {% endif %}

{% endblock %}
