{% extends 'base.html.twig'%}

{% block Body %}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == user.userConnected.id or app.user.id == app.request.get("id")) %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>
                    {%if editMode %}
                        Modification d'un document
                    {% else %}
                        Ajouter un document
                    {% endif %}
                </h2>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form_start(formPicture) }}
                                    <div class="form-group">
                                        {{ form_widget(formPicture.docFile) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form_label(formPicture.title, 'Titre') }}
                                    {{ form_widget(formPicture.title) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form_label(formPicture.description, 'Description') }}
                                    {{ form_widget(formPicture.description,  { 'attr': {
                                        'rows' : '4' }} ) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-info">
                                        {%if editMode %}
                                            Enregistrer modification
                                        {% else %}
                                            Ajouter le document
                                        {% endif %}
                                    </button>
                                    {{ form_end(formPicture) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <p>Vous n'êtes pas autorisé à accéder à cette page</p>
    {% endif %}

{% endblock %}
