{% extends 'base.html.twig' %}

{#{% block javascripts %}
<script type="text/javascript" src="bootstrap-datetimepicker.de.js" charset="UTF-8">
    $(document).ready(function() {
        $('#datetimepicker').datetimepicker({
            format: 'dd-mm-yyyy'
        });
    });
</script>
{% endblock %}#}


{% block Body %}

    {% if (is_granted('ROLE_ADMIN')) %}
        <h2>Edition du parcours du membre : {{ userConnected.firstName }} {{ userConnected.name }}</h2>
        {% if (not userConnected.user.histories) %}
            <h4>Parcours vide</h4>
        {% else %}
            <h3>Parcours</h3>
            {% for history in userConnected.user.Histories %}
                <div class="personOfContact">
                    <div class="row">
                        <div class="col-2">
                            Description: {{ history.description }}
                        </div>
                        <div class="col">
                            Date : {{ history.refDate |date('d/m/Y') }}
                        </div>
                        <div class="col">
                            Catégorie : {{ history.category.title }}
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                {#<button type="submit" class="btn btn-link">Supprimer personne de contact</button>#}
                                <a href="{{ path('remove_history_admin',{'id':history.id, 'idUser':userConnected.id}) }}">Supprimer
                                    la ligne</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}

        <h4>Ajouter une nouvelle ligne dans le parcours</h4>
        <form action="{{ path('admin_edit',{'id':userConnected.id}) }}" method="post">
            {{ form_start(historyForm) }}
            <div class="row">
                <div class="col-md-6">
                    {#attr : nbre de ligne affichée dans le textBox de "Description #}
                    Description {{ form_widget(historyForm.description,  { 'attr': {
                        'rows' : '8' }} ) }}
                </div>
                <div class="col-md-2">
                    Date {{ form_widget(historyForm.refDate) }} {# { attr:{ class:'js-datepicker' } })}} #}
                </div>
                <div class="col-md-3">
                    Catégorie {{ form_widget(historyForm.category) }}
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-link">Ajouter un nouvel historique</button>
                    {{ form_end(historyForm) }}
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src={{ asset('public/js/bootstrap-datepicker.js') }} charset="UTF-8">
        $(document).ready(function() {
            $('.js-datepicker').datetimepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>
  {#  <script>
        $('.js-datepicker').datepicker({
            format:'yyyy.MM.dd'
        });
    </script>#}
{% endblock %}