{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user  %}
        {% if  app.user.id == app.request.get("id") %}
            <h2> Modification des données personnelles </h2>

            <div class="form-group">
                <label for="">Nom</label>
                {{ form_widget(formUser.name) }}
            </div>

            <div class="form-group">
                <label for="">Prénom</label>
                {{ form_widget(formUser.firstname) }}
            </div>

            <div class="form-group">
                <label for="">Date de naissance</label>
                {{ form_widget(formUser.birthday) }}
            </div>

            <div class="form-group">
                <label for="">Genre</label>
                {{ form_widget(formUser.sex) }}
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="{{ path('profile_edit',{'id':app.user.id})}}" class="btn-btn-primary">
                        Enregister modification(s)
                    </a>
                </div>
                <div class="col-4">
                        <a href="{{ path('profile_edit',{'id':app.user.id})}}" class="btn-btn-primary">
                            Modifier mot de passe
                        </a>
                </div>
            </div>


            <h3> <br>Téléphones</h3>

            {% for phone in user.phones %}
                <form action="{{path('remove_phone',{'idPhone':phone.id, 'idUser':user.id}) }}" method="post">
                <div class="phone">
                    <div class="row">
                        <div class="col-2">
                            {{ phone.type }}
                        </div>
                        <div class="col">
                             {{ phone.num}}
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-link">Supprimer numéro</button>
                        </div>
                    </div>
                </div>
                </form>
            {% endfor %}


            <h4> <br>Nouveau numéro</h4>
{#
            <select name="Type">
                <option value="Domicile">Domicile</option>
                <option value="Portable">Portable</option>
                <option value="Travaille">Travail</option>
            </select>
#}
            <div class = "phone">
                <div class="row">
                    <div class="col-2">
                         Type
                        {{ form_widget(phoneForm.type,  {'attr':{
                            'placeholder':"Domicile, travail..."
                        }}) }}
                    </div>
                    <div class="col">
                        Numéro
                        {{ form_widget(phoneForm.num,  {'attr':{
                            'placeholder':"Votre nouveau numéro..."
                        }}) }}
                    </div>
                    <div class="col">
                        <a href="{{ path('profile_edit',{'id':app.user.id})}}" class="btn-btn-primary">
                            <br>Ajouter numéro
                        </a>
                    </div>

                </div>
            </div>

            {#Affiche adresses#}
            <h3> <br>Adresses</h3>

            {% for adress in user.adress %}
                <div class="adress">
                    <div class="row">
                        <div class="col-2">
                             {{ adress.type }}
                        </div>
                        <div class="col">
                            {{ adress.num}}
                        </div>
                        <div class="col">
                            {{ adress.streetName}}
                        </div>
                        <div class="col">
                             {{ adress.city.cityName}}
                            ({{ adress.city.zip}})
                        </div>
                        <div class="col">
                             {{ adress.city.country.countryName}}
                        </div>
                        <div class="col">
                            <a href="{{ path('profile_edit',{'id':app.user.id})}}" class="btn-btn-primary">
                                Supprimer adresse
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <h4> <br>Nouvelle adresse</h4>
            <div class="row">
                <div class="col-2">
                    Type {{ form_widget(adressForm.type) }}
                </div>
                <div class="col-2">
                    Numero {{ form_widget(adressForm.num) }}
                </div>
                <div class="col-6">
                    Rue  {{ form_widget(adressForm.streetName) }}
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    CP {{ (form_widget(cityForm.zip) ) }}
                </div>
                <div class="col-4">
                    Ville  {{ form_widget(cityForm.cityName)}}
                </div>
                <div class="col-4">
                    Pays  {{ form_widget(cityForm.country)}}
                </div>
                <div class="col">
                    <a href="{{ path('profile_edit',{'id':app.user.id})}}" class="btn-btn-primary">
                        <br>Ajouter adresse
                    </a>
                </div>
            </div>

        {% else %}
            <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
            <a href="{{ path('security_logout') }}" class="btn-btn-primary">
                Déconnexion ?
            </a>
        {% endif %}
    {% else %}
        <h2>Vous n'êtes pas connecté !</h2>
        <a href="{{ path('security_login') }}" class="btn-btn-primary">
            Connexion
        </a>
    {% endif %}


{% endblock %}