{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user  %}
        {% if  app.user.id == app.request.get("id") %}
            <a href="{{ path('profile_show',{'id':app.user.id})}}" class="btn-btn-primary">
                Retour
            </a>

            {#Affiche personnes de contact#}
            <h2> <br>Modification d'un personne de contact</h2>

            <form action="{{path('profile_edit',{'id':app.user.id}) }}" method="post">
                <div class="row">
                    <div class="col-3">
                        Nom {{ form_widget(PoCForm.name) }}
                    </div>
                    <div class="col-3">
                        Prénom {{ form_widget(PoCForm.firstName) }}
                    </div>
                    <div class="col-3">
                        Numéro {{ form_widget(PoCForm.num1) }}
                    </div>
                    <div class="col-2">
                        Info {{ (form_widget(ContactListForm.relation) ) }}
                    </div>
                    <div class="col-5">
                        Info {{ (form_widget(ContactListForm.info) ) }}
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-link"><br>Modifier</button>
                    </div>
                </div>
            </form>

        {% else %}
            <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
            <a href="{{ path('security_logout') }}" class="btn-btn-primary">
                Déconnexion ?
            </a>
        {% endif %}
    {% else %}
        <h2>Vous n'êtes pas connecté !</h2>
        <a href="{{ path('security_login') }}" class="btn-btn-primary">
            Connexion
        </a>
    {% endif %}


{% endblock %}