{% extends 'base.html.twig' %}

{#{% block javascripts %}
<script type="text/javascript" src="bootstrap-datetimepicker.de.js" charset="UTF-8">
    $(document).ready(function() {
        $('#datetimepicker').datetimepicker({
            format: 'dd-mm-yyyy'
        });
    });
</script>
{% endblock %}#}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
          rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                language: 'fr_FR',
                format: 'dd/mm/yyyy'
            });
        });
    </script>
{% endblock %}


{% block Body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            {# Admin ou si la personne connectée est le parent du profil consulté #}
            {% if (is_granted('ROLE_ADMIN') or app.user.id == user.userConnected.id) %}
            <div class="form-check-label">
                <div class="row">
                    <div class="col-3">
                        <h2>Edition du profil </h2>
                    </div>
                </div>
                <div class="row">
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('admin_show',{'id':user.id}) }}"
                           class="btn-btn-primary">
                            <span class="badge badge-pill badge-warning">Retour</span>
                        </a>
                        <a href="{{ path('admin_users', {'orderby':'ASC'}) }}" class="btn-btn-primary">
                            <span class="badge badge-pill badge-warning">Retour à la liste des utilisateurs</span>
                        </a>
                        {# le profil consulté est un enfant et la personne connectée est son parent:
             le retour se fait vers "Ma famille", sinon pas de btn retour#}
                    {% elseif(user.ownerUser == false and app.user.id == user.userConnected.id) %}
                        <a class="btn-btn-primary"
                           href="{{ path('view_family',{'id':user.userConnected.id}) }}">
                            <span class="badge badge-pill badge-warning">Retour</span>
                        </a>
                    {% else %}
                        <a href="{{ path('profile_show',{'id':user.id}) }}"
                           class="btn-btn-primary">
                            <span class="badge badge-pill badge-warning">Retour</span>
                        </a>
                    {% endif %}

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="user-avatar user-avatar-xl fileinput-button">
                                {% if (is_granted('ROLE_ADMIN')) %}
                                    <div class="fileinput-button-label">
                                        <a href="{{ path('admin_picture_user',
                                            {'id':user.id}) }}">Modifier la photo</a>
                                    </div>
                                    <img src="{{ vich_uploader_asset(user, 'imageFile') }}"
                                         alt="{{ user.imageFile }}"
                                         name="avatar" width="150"/>
                                {% else %}
                                    <img src="{{ vich_uploader_asset(user, 'imageFile') }}"
                                         alt="{{ user.imageFile }}"
                                         name="avatar" width="150"/>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {#Parent (qui peut être admin admin) qui visite son propre profil
                     ou un admin qui consulte un parent#}
                    {#    {% if ((user.ownerUser and (user.ownerUser.id == app.user.id))
                            or (is_granted('ROLE_ADMIN') and (user.ownerUser and user.userConnected.id == user.ownerUser.id)) ) %}
    #}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <h3>{{ user.name }} {{ user.firstname }} </h3>
                                <div class="metadata">Inscrit sur le site depuis
                                    : {{ user.createdUs |date('d/m/Y') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <h3> Informations générales :</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <p> Email : {{ user.userConnected.email }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <p> Date de naissance
                                    : {{ user.birthdate |date('d/m/Y') }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <p> Numéro de fédération
                                    : {{ user.fedNum }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {% if (user.belt) %}
                                    <h4> Grade</h4>
                                    <p>{{ user.belt }} reçu
                                        le {{ user.receiptDate |date('d/m/Y') }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {# parent ou admin qui consulte un User "enfant"     #}
                    {% if( (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) and (user.ownerUser == false)) %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h3> Informations sur le "tuteur"</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {% if (is_granted('ROLE_ADMIN')) %}
                                        <a class="btn btn-link"
                                           href="{{ path('admin_show', {'id':user.userConnected.user.id}) }}">
                                            <h4>{{ user.userConnected.user.name }} {{ user.userConnected.user.firstname }} </h4>
                                            <span class="sr-only">Voir le profil</span>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-link"
                                           href="{{ path('profile_show',{'id':user.userConnected.user.id}) }}">
                                            <h4>{{ user.userConnected.user.name }} {{ user.userConnected.user.firstname }} </h4>
                                            <span class="sr-only">Voir le profil</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <p> Email : {{ user.userConnected.user.fedNum }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <p> Email : {{ user.userConnected.email }} </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h3> Numéro(s) de téléphone </h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Numéro</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for phone in user.userConnected.user.phones %}

                                        <td>{{ phone.type }}</td>
                                        <td>{{ phone.num }}
                                            {% else %}
                                            <tr>
                                                <td colspan="10">Aucun numéro de téléphone</td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% if (is_granted('ROLE_ADMIN')) %}
        {{ form_start(formUser) }}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2> Modification des données personnelles </h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        {{ form_label(formUser.sex, 'Genre') }}
                                        {{ form_widget(formUser.sex) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        {{ form_label(formUser.fedNum, 'Numéro de fédération') }}
                                        {{ form_widget(formUser.fedNum) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(formUser.belt, 'Grade') }}
                                        {{ form_widget(formUser.belt) }}
                                    </div>
                                </div>
                                {#les barrettes ne s'affichent que pour les membres de moins de 12 ans (12 ans compris)#}
                                {% set diff = date("now").diff(user.birthdate) %}
                                {% set age = diff.days/365 %}
                                {% if (age<13) %}
                                    <div class="col-2">
                                        <div class="form-group">
                                            {{ form_label(formUser.bars, 'Barrettes') }}
                                            {{ form_widget(formUser.bars) }}
                                        </div>
                                    </div>
                                {% else %}
                                    {# si plus de 12 ans, les barrettes sont cachées grâce à style#}
                                    <div class="col-2" style="visibility:hidden">
                                        <div class="form-group">
                                            {{ form_label(formUser.bars, 'Barrettes') }}
                                            {{ form_widget(formUser.bars) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        {{ form_label(formUser.receiptDate, 'Date de réception') }}
                                        {{ form_widget(formUser.receiptDate, { attr:{ class:'js-datepicker' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-info">
                                            Enregistrer modification(s)
                                        </button>
                                        {{ form_end(formUser) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {#COORDONNEES #}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>Coordonnées</h2>
                <div class="card">
                    <div class="card-body">
                        {# TELEPHONES #}
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h3>Téléphones</h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Numéro</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for phone in user.phones %}
                                        <tr>
                                            <td>{{ phone.type }}</td>
                                            <td>{{ phone.num }}</td>
                                            <td class="align-middle text-right">
                                                {% if (is_granted('ROLE_ADMIN')) %}
                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                   href="{{ path('remove_phone_admin',{'idPhone':phone.id, 'idUser':user.id}) }}">
                                                    <i class="fa fa-trash-o">
                                                    </i>
                                                    <span class="sr-only">Supprimer</span>
                                                </a>
                                                {% else %}
                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                   href="{{ path('remove_phone',{'idPhone':phone.id, 'idUser':user.id}) }}">
                                                    <i class="fa fa-trash-o">
                                                    </i>
                                                    <span class="sr-only">Supprimer</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% else %}
                                        <tr>
                                            <td colspan="10">Aucune numéro de téléphone
                                            </td>
                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h4>Nouveau numéro</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    {{ form_start(phoneForm) }}
                                    {{ form_label(phoneForm.type, 'Type') }}
                                    {{ form_widget(phoneForm.type,  {'attr':{
                                        'placeholder':"Domicile, travail..."
                                    }}) }}
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    {{ form_label(phoneForm.num, 'Numéro') }}
                                    {{ form_widget(phoneForm.num,  {'attr':{
                                        'placeholder':"Votre nouveau numéro..."
                                    }}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-info">Ajouter numéro</button>
                                    {{ form_end(phoneForm) }}
                                </div>
                            </div>
                        </div>
                        {# ADRESSES #}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h3>Adresses</h3>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Numéro</th>
                                            <th>Rue</th>
                                            <th>Ville</th>
                                            <th>Pays</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for adress in user.adress %}
                                        <tr>
                                            <td>{{ adress.type }}</td>
                                            <td>{{ adress.num }}
                                                {% if adress.postBox %}
                                                    (BP:{{ adress.postBox }})
                                                {% endif %}
                                            </td>
                                            <td>{{ adress.streetName }}</td>
                                            <td>{{ adress.city.cityName }}
                                                {% if adress.city.zip %}
                                                    ({{ adress.city.zip }})
                                                {% endif %}
                                            </td>
                                            <td>{{ adress.city.country.countryName }}</td>
                                            <td class="align-middle text-right">
                                                {% if (is_granted('ROLE_ADMIN')) %}
                                                    <a class="btn btn-sm btn-icon btn-secondary"
                                                       href="{{ path('remove_adress_admin',{'idAdress':adress.id, 'idUser':user.id}) }}">
                                                        <i class="fa fa-trash-o">
                                                        </i>
                                                        <span class="sr-only">Supprimer</span>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-sm btn-icon btn-secondary"
                                                       href="{{ path('remove_adress',{'idAdress':adress.id, 'idUser':user.id}) }}">
                                                        <i class="fa fa-trash-o">
                                                        </i>
                                                        <span class="sr-only">Supprimer</span>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="10">Aucune adresse</td>
                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h4>Nouvelle adresse</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    {{ form_start(adressForm) }}
                                    {{ form_label(adressForm.type, 'Type') }}
                                    {{ form_widget(adressForm.type,  {'attr':{
                                        'placeholder':"Domicile, travail..."
                                    }}) }}
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    {{ form_label(adressForm.num, 'Numéro') }}
                                    {{ form_widget(adressForm.num) }}
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    {{ form_label(adressForm.postBox, 'BP') }}
                                    {{ form_widget(adressForm.postBox) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form_label(adressForm.streetName, 'Rue') }}
                                    {{ form_widget(adressForm.streetName) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group">
                                    {{ form_label(cityForm.cityName, 'Ville') }}
                                    {{ form_widget(cityForm.cityName) }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    {{ form_label(cityForm.zip, 'Code postal') }}
                                    {{ form_widget(cityForm.zip) }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    {{ form_label(cityForm.country, 'Pays') }}
                                    {{ form_widget(cityForm.country) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-info">Ajouter adresse</button>
                                    {{ form_end(adressForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#PERSONNES DE CONTACT #}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>Personnes de contact</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Numéro</th>
                                            <th>Relation</th>
                                            <th>Informations</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for contactList in user.contactLists %}
                                        <tr>
                                            <td>{{ contactList.personOfContact.name }}</td>
                                            <td>{{ contactList.personOfContact.firstName }}</td>
                                            <td>{{ contactList.personOfContact.num1 }}</td>
                                            <td>{{ contactList.relation }}</td>
                                            <td>{{ contactList.info }}</td>

                                            <td class="align-middle text-right">
                                                {% if (is_granted('ROLE_ADMIN')) %}
                                                    <a class="btn btn-sm btn-icon btn-secondary"
                                                       href="{{ path('edit_PoC_admin',{'id':user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">
                                                        <i class="fa fa-pencil">
                                                        </i>
                                                        <span class="sr-only">Modifier</span>
                                                    </a>
                                                    <a class="btn btn-sm btn-icon btn-secondary"
                                                       href="{{ path('remove_PoC_admin',{'idCL':contactList.id, 'idUser':user.id}) }}">
                                                        <i class="fa fa-trash-o">
                                                        </i>
                                                        <span class="sr-only">Supprimer</span>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-sm btn-icon btn-secondary"
                                                       href="{{ path('edit_PoC',{'id':user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">
                                                        <i class="fa fa-pencil">
                                                        </i>
                                                        <span class="sr-only">Modifier</span>
                                                    </a>
                                                    <a class="btn btn-sm btn-icon btn-secondary"
                                                       href="{{ path('remove_PoC',{'idCL':contactList.id, 'idUser':user.id}) }}">
                                                        <i class="fa fa-trash-o">
                                                        </i>
                                                        <span class="sr-only">Supprimer</span>
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="10">Aucune personne de contact</td>
                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h4>Nouvelle personne de contact</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    {{ form_start(PoCForm) }}
                                    {{ form_label(PoCForm.name, 'Nom') }}
                                    {{ form_widget(PoCForm.name) }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    {{ form_label(PoCForm.firstName, 'Prénom') }}
                                    {{ form_widget(PoCForm.firstName) }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    {{ form_label(PoCForm.num1, 'Numéro de téléphone') }}
                                    {{ form_widget(PoCForm.num1) }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    {{ form_label(ContactListForm.relation, 'Relation (parent, amis...)') }}
                                    {{ (form_widget(ContactListForm.relation) ) }}                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ (form_label(ContactListForm.info,
                                        'Information complémentaire') ) }}
                                    {{ (form_widget(ContactListForm.info,
                                        { 'attr': {'rows' : '4' }} )) }}                                         </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-info">Ajouter une nouvelle personne
                                        de contact
                                    </button>
                                    {{ form_end(PoCForm) }}
                                    {{ form_end(ContactListForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

    {% endblock %}
