{% extends 'base.html.twig' %}

{% block Body %}
    {% if app.user and app.user.id == app.request.get("id") %}
        <a href="{{ path('profile_show',{'id':app.user.id})}}" class="btn-btn-primary">
            Retour
        </a>

        <h2>Profile utilisateur </h2>
        <h3>{{ userConnected.name }} {{ userConnected.firstName }} </h3>
        <div class="metadata">Inscrit sur le site depuis  : {{ userConnected.createdUser |date('d/m/Y')}}</div>

        <h4> </br> Informations générales :</h4>
        <p> Nom d'utilisateur : {{ userConnected.username}} </p>
        <p> Email : {{ userConnected.email }} </p>
        <p> Date de naissance : {{ userConnected.birthday |date('d/m/Y')}} </p>

        <h2> Modification des données personnelles </h2>
        {{ form_start(formUser) }}

        <form action="{{path('profile_edit',{'id':app.user.id}) }}" method="post">
            <div class="form-group">
                <label for="">Genre</label>
                {{ form_widget(formUser.sex) }}
            </div>

            <div class="form-group">
                <label for="">Grade</label>
                {{ form_widget(formUser.belt) }}
            </div>

            <div class="form-group">
                <label for="">Date d'obtention</label>
                {{ form_widget(formUser.receiptDate) }}
            </div>

            <div class="form-group">
                <label for="">Ajoutez une photo de profil</label>
                {{ form_widget(formUser.imageFile) }}
            </div>

            <button type="submit" class="btn btn-link">Enregister modification(s)</button>

            {{ form_end(formUser) }}

            <div class="col-4">
                <button type="submit" class="btn btn-link">Modifier mot de passe</button>
            </div>

        </form>

        <h3> <br>Téléphones</h3>
        {% if (userConnected.user) %}
            {% for phone in userConnected.user.phones %}
                <form action="{{path('remove_phone',{'idPhone':phone.id, 'idUser':app.user.id}) }}" method="post">
                    <div class="phone">
                        <div class="row">
                            <div class="col-2">
                                {{ phone.type }}
                            </div>
                            <div class="col">
                                {{ phone.num}}
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-link">Supprimer numéro</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        {% endif %}

        <h4> <br>Nouveau numéro</h4>
        {#
                    <select name="Type">
                        <option value="Domicile">Domicile</option>
                        <option value="Portable">Portable</option>
                        <option value="Travaille">Travail</option>
                    </select>
        #}  <form action="{{path('profile_edit',{'id':app.user.id}) }}" method="post">
        <div class = "phone">
            <div class="row">
                <div class="col-2">
                    {{ form_start(phoneForm) }}
                    Type
                    {{ form_widget(phoneForm.type,  {'attr':{
                        'placeholder':"Domicile, travail..."
                    }}) }}
                </div>
                <div class="col">
                    Numéro
                    {{ form_widget(phoneForm.num,  {'attr':{
                        'placeholder':"Votre nouveau numéro..."
                    }}) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-link"><br>Ajouter numéro</button>
                    {{ form_end(phoneForm) }}
                </div>
            </div>
        </div>
    </form>
        {#Affiche adresses#}
        <h3> <br>Adresses</h3>
        {% if (userConnected.user) %}
            {% for adress in userConnected.user.adress %}
                <form action="{{path('remove_adress',{'idAdress':adress.id, 'idUser':app.user.id}) }}" method="post">
                    <div class="adress">
                        <div class="row">
                            <div class="col-2">
                                {{ adress.type }}
                            </div>
                            <div class="col">
                                {{ adress.num }} (BP:{{ adress.postBox }})
                            </div>
                            <div class="col">
                                {{ adress.streetName}}
                            </div>
                            <div class="col">
                                {{ adress.city.cityName}}
                                ({{ adress.city.zip}})
                            </div>
                            <div class="col">
                                {{ adress.city.country.countryName}}
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-link">Supprimer adresse</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        {% endif %}

        <h4> <br>Nouvelle adresse</h4>
        <form action="{{path('profile_edit',{'id':app.user.id}) }}" method="post">
            {{ form_start(adressForm) }}
            <div class="row">
                <div class="col-2">
                    Type {{ form_widget(adressForm.type) }}
                </div>
                <div class="col-2">
                    Numero {{ form_widget(adressForm.num) }}
                </div>
                <div class="col-2">
                    BP {{ form_widget(adressForm.postBox) }}
                </div>
                <div class="col-11">
                    Rue  {{ form_widget(adressForm.streetName) }}
                </div>
                <div class="col-2">
                    CP {{ (form_widget(cityForm.zip) ) }}
                </div>
                <div class="col-4">
                    Ville  {{ form_widget(cityForm.cityName)}}
                </div>
                <div class="col-4">
                    Pays  {{ form_widget(cityForm.country)}}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-link"><br>Ajouter adresse</button>
                    {{ form_end(adressForm) }}
                </div>
            </div>
        </form>

        {#Affiche personnes de contact#}
        <h3> <br>Personnes de contact</h3>
        {% if (userConnected.user) %}

            {% for contactList in userConnected.user.contactLists %}
                {# <form action="{{path('remove_PoC',{'idCL':contactList.id, 'idUser':user.id}) }}" method="post">#}
                <div class="personOfContact">
                    <div class="row">
                        <div class="col-2">
                            Nom: {{ contactList.personOfContact.name }}
                        </div>
                        <div class="col">
                            Prénom : {{ contactList.personOfContact.firstName }}
                        </div>
                        <div class="col">
                            Numéro : {{ contactList.personOfContact.num1 }}
                        </div>
                        <div class="col">
                            Relation : {{ contactList.relation }}
                        </div>
                        <div class="col">
                            Info : {{ contactList.info }}
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                {#<button type="submit" class="btn btn-link">Supprimer personne de contact</button>#}
                                <a href="{{ path('remove_PoC',{'idCL':contactList.id, 'idUser':app.user.id}) }}">Supprimer personne de contact</a>
                            </div>
                        </div>
                    </div>
                </div>
                {# </form> #}
                <div class="col">
                    <a href="{{ path('edit_PoC',{'id':app.user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">Modifier personne de contact</a>
                </div>
            {% endfor %}
        {% endif %}

        <h4> <br>Nouvelle personne de contact</h4>
        <form action="{{path('profile_edit',{'id':app.user.id}) }}" method="post">
            {{ form_start(PoCForm) }}
            <div class="row">
                <div class="col-3">
                    Nom {{ form_widget(PoCForm.name) }}
                </div>
                <div class="col-3">
                    Prénom {{ form_widget(PoCForm.firstName) }}
                </div>
                <div class="col-3">
                    Numéro  {{ form_widget(PoCForm.num1) }}
                </div>
                <div class="col-2">
                    Relation {{ (form_widget(ContactListForm.relation) ) }}
                </div>
                <div class="col-5">
                    Info {{ (form_widget(ContactListForm.info) ) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-link"><br>Ajouter une nouvelle personne de contact</button>
                    {{ form_end(PoCForm) }}
                </div>
            </div>
        </form>

        <h3> <br>Nouvel historique</h3>
        <form action="{{path('profile_edit',{'id':app.user.id}) }}" method="post">
            {{ form_start(historyForm) }}
            <div class="row">
                <div class="col-md-5">
                    Description {{ form_widget(historyForm.description) }}
                </div>
                <div class="col-md-2">
                    Date {{ form_widget(historyForm.refDate) }}
                </div>
                <div class="col-md-2">
                    Catégorie {{ form_widget(historyForm.category) }}
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-link"><br>Ajouter un nouvel historique</button>
                    {{ form_end(historyForm) }}
                </div>
            </div>
        </form>

    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

{% endblock %}