{% extends 'base.html.twig' %}

{% block Body %}
    {% if is_granted('ROLE_ADMIN') or app.user.id == app.request.get("id") %}
        {% if (is_granted('ROLE_ADMIN')) %}
            <a class="btn btn-success" href="{{ path('admin_edit',{'id':contactList.user.userConnected.id}) }}">
                Retour
            </a>
        {% else %}
            <a class="btn btn-success" href="{{ path('profile_edit',{'id':userConnected.user.userConnected.id}) }}">
                Retour
            </a>
        {% endif %}
        {#Affiche personnes de contact#}
        <h2> <br>Modification d'un personne de contact</h2>

        <form action="{{path('edit_PoC_admin',{'id':app.user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}" method="post">
            <div class="row">
                <div class="col-4">
                    Nom: {{ contactList.personOfContact.name }}
                </div>
                <div class="col-4">
                    Prénom : {{ contactList.personOfContact.firstName }}
                </div>
                <div class="col-4">
                    Numéro : {{ contactList.personOfContact.num1 }}
                </div>
                <div class="col-5">
                    {{ form_start(ContactListForm) }}

                    Relation {{ (form_widget(ContactListForm.relation) ) }}
                </div>
                <div class="col-7">
                    Info {{ (form_widget(ContactListForm.info) ) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-link"><br>Modifier</button>
                    {{ form_end(ContactListForm) }}
                </div>
            </div>
        </form>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

{% endblock %}