{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
          rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                language: 'fr_FR',
                format: 'dd/mm/yyyy'
            });
        });
    </script>
{% endblock %}

{% block Body %}

    {% if (is_granted('ROLE_ADMIN')) %}
        {{ form_start(historyForm) }}

        <form action="{{ path('admin_edit',{'id':userConnected.id}) }}" method="post">

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <h4>Ajouter une nouvelle ligne dans le parcours</h4>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {{ form_label(historyForm.description, 'Description') }}
                                            {{ form_widget(historyForm.description,  { 'attr': {
                                                'rows' : '4' }} ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {{ form_label(historyForm.category, 'Catégorie') }}
                                            {{ form_widget(historyForm.category) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {{ form_label(historyForm.refDate, 'Date') }}
                                            {{ form_widget(historyForm.refDate, { attr:{ class:'js-datepicker' } }) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-outline-success">Ajouter un nouvel historique
                                            </button>
                                            {{ form_end(historyForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <h2>Vous n'êtes pas autorisé à accéder à cette page</h2>
    {% endif %}

{% endblock %}