{% extends 'base.html.twig' %}

{% block Body %}

    {% if (is_granted('ROLE_ADMIN') or app.user.id == app.request.get("id")) %}
        {% if (is_granted('ROLE_ADMIN') and app.user.id == app.request.get("id")) %}
            <a class="btn btn-success" href="{{ path('admin_edit',{'id':app.user.id}) }}"><font
                        style="vertical-align: inherit;"><font style="vertical-align: inherit;">Modifier son
                        profile </font></font></a>
        {% else %}
            {% if (is_granted('ROLE_ADMIN')) %}
                <a class="btn btn-success" href="{{ path('admin_edit',{'id':userConnected.id}) }}"
                   class="btn-btn-primary">
                    Modifier le profile de l'utilisateur
                </a>
            {% else %}
                <a class="btn btn-success" href="{{ path('profile_edit',{'id':userConnected.id}) }}"
                   class="btn-btn-primary">
                    Modifier son profile
                </a>
            {% endif %}

        {% endif %}

        {# vérifie si l'id du visiteur correspond à l'id du membre qu'il veut consulter #}
        <h2>Profile utilisateur </h2>
        <h3>{{ userConnected.name }} {{ userConnected.firstName }} </h3>
        <div class="metadata">Inscrit sur le site depuis : {{ userConnected.createdUser |date('d/m/Y') }}</div>

        <h4> </br> Informations générales :</h4>
        <div class="content">
        <p> Nom d'utilisateur : {{ userConnected.username }} </p>
        <p> Email : {{ userConnected.email }} </p>
        <p> Date de naissance : {{ userConnected.birthday |date('d/m/Y') }} </p>
        <img src="{{ vich_uploader_asset(userConnected.user, 'imageFile') }}" alt="{{ userConnected.user.imageFile }}"
             width="300"/>

        {% if (userConnected.user.belt) %}
            <h5> Grade</h5>
            <p> Grade : {{ userConnected.user.belt }} reçu
                le {{ userConnected.user.receiptDate |date('d/m/Y') }}</p>
        {% endif %}

        <h4> </br> Coordonnées :</h4>
        <h5> Téléphone </h5>
        {% for phone in userConnected.user.phones %}
            <div class="phone">
                <div class="row">
                    <div class="col-2">
                        {{ phone.type }}
                    </div>
                    <div class="col">
                        {{ phone.num }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <h5><br> Adresses </h5>
        <table class="table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Numéro</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Pays</th>

            </tr>
            </thead>
            <tbody>
            {% for adress in userConnected.user.adress %}
                <td>{{ adress.type }}</td>
                <td>{{ adress.num }}
                    {% if adress.postBox %}
                        ({{ adress.postBox }})
                    {% endif %}
                </td>
                <td>{{ adress.streetName }}</td>
                <td>{{ adress.city.cityName }}
                    {% if adress.city.zip %}
                        ({{ adress.city.zip }})
                    {% endif %}
                </td>
                <td>{{ adress.city.country.countryName }}</td>
            {% else %}
                <tr>
                    <td colspan="10">Aucune adresse</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h4> </br> Personnes de contact :</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Numéro</th>
                <th>Relation</th>
                <th>Informations</th>

            </tr>
            </thead>
            <tbody>
            {% for contactList in userConnected.user.contactLists %}
                <td>{{ contactList.personOfContact.name }}</td>
                <td>{{ contactList.personOfContact.firstName }}</td>
                <td>{{ contactList.personOfContact.num1 }}</td>
                <td>{{ contactList.relation }}</td>
                <td>{{ contactList.info }}</td>
            {% else %}
                <tr>
                    <td colspan="10">Aucune adresse</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#Affichle les inscriptions du membre#}

        <h4><br> Liste des inscriptions </h4>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Evénements</th>
                <th>Remarque</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in userConnected.user.registration %}
                <td>{{ registration.registrationDate | date ('d/m/Y') }}</td>
                <td>{{ registration.event.title }}</td>
                <td>{{ registration.remark }}</td>
            {% else %}
                <p>Aucune inscription</p>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

{% endblock %}