{% extends 'base.html.twig' %}

{% block Body %}
    {# Admin ou si la personne connectée est le parent du profil consulté #}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == user.userConnected.id) %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h1>Profil utilisateur
                        {% if (is_granted('ROLE_ADMIN')) %}
                            <a class="btn btn-sm btn-icon btn-secondary"
                               href="{{ path('admin_edit',{'id':user.id}) }}">
                                <i class="fa fa-pencil">
                                </i>
                                <span class="sr-only">Modifier son profil</span>
                            </a>
                        {% else %}
                            <a class="btn btn-sm btn-icon btn-secondary"
                               href="{{ path('profile_edit',{'id':user.id}) }}">
                                <i class="fa fa-pencil">
                                </i>
                                <span class="sr-only">Modifier le profil</span>
                            </a>
                        {% endif %}
                    </h1>
                    <div class="row">
                        {% if(user.ownerUser == false and app.user.id == user.userConnected.id) %}
                            <a class="btn-btn-primary"
                               href="{{ path('view_family',{'id':user.userConnected.id}) }}">
                                <span class="badge badge-pill badge-warning">Retour</span>
                            </a>
                        {% elseif (is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('admin_users', {'orderby':'ASC'}) }}" class="btn-btn-primary">
                                <span class="badge badge-pill badge-warning">Retour à la liste des utilisateurs</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="user-avatar user-avatar-xl fileinput-button">
                                        <img src="{{ vich_uploader_asset(user, 'imageFile') }}"
                                             alt="{{ user.imageFile }}" name="avatar" width="150"/>
                                    </div>
                                </div>
                            </div>
                            {#Parent (qui peut être admin admin) qui visite son propre profil
                             ou un admin qui consulte un parent#}
                            {#  {% if ((user.ownerUser and (user.ownerUser.id == app.user.id))
                                  or (is_granted('ROLE_ADMIN') and (user.ownerUser and user.userConnected.id == user.ownerUser.id)) ) %}#}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3>{{ user.name }} {{ user.firstname }} </h3>
                                        <div class="metadata">Inscrit sur le site depuis
                                            : {{ user.createdUs |date('d/m/Y') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3> Informations générales :</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> Email : {{ user.userConnected.email }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> Date de naissance
                                            : {{ user.birthdate |date('d/m/Y') }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p>Numéro de fédération : {{ user.fedNum }} </p>
                                    </div>
                                </div>
                            </div>
                            {% set diff = date("now").diff(user.birthdate) %}
                            {% set age = diff.days/365 %}
                            {% if (user.belt) %}
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <h4> Grade</h4>
                                            <p>{{ user.belt }}
                                                {% if (age<13) %}
                                                    {{ user.bars }} barrete(s)
                                                {% endif %}
                                                reçu
                                                le {{ user.receiptDate |date('d/m/Y') }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {# parent ou admin qui consulte un User "enfant"     #}
                        {% if( (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) and (user.ownerUser == false)) %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3> Informations sur le "tuteur"</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {% if (is_granted('ROLE_ADMIN')) %}
                                            <a class="btn btn-link"
                                               href="{{ path('admin_show',{'id':user.userConnected.user.id}) }}">
                                                <h4>{{ user.userConnected.user.name }} {{ user.userConnected.user.firstname }} </h4>
                                                <span class="sr-only">Voir le profil</span>
                                            </a>
                                        {% else %}
                                            <a class="btn btn-link"
                                               href="{{ path('profile_show',{'id':user.userConnected.user.id}) }}">
                                                <h4>{{ user.userConnected.user.name }} {{ user.userConnected.user.firstname }} </h4>
                                                <span class="sr-only">Voir le profil</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p>Numéro de fédération : {{ user.userConnected.user.fedNum }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> Email : {{ user.userConnected.email }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <h3> Numéro(s) de téléphone </h3>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Numéro</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for phone in user.userConnected.user.phones %}

                                            <td>{{ phone.type }}</td>
                                            <td>{{ phone.num }}
                                                {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun numéro de téléphone</td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2>Coordonnées </h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <h3> Numéro(s) de téléphone </h3>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Numéro</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for phone in user.userConnected.user.phones %}
                                                <td>{{ phone.type }}</td>
                                                <td>{{ phone.num }}
                                                    {% else %}
                                                    <tr>
                                                        <td colspan="10">Aucun numéro de téléphone</td>
                                                    </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3> Adresses </h3>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Numéro</th>
                                                <th>Rue</th>
                                                <th>Ville</th>
                                                <th>Pays</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for adress in user.adress %}

                                            <td>{{ adress.type }}</td>
                                            <td>{{ adress.num }}
                                                {% if adress.postBox %}
                                                    ({{ adress.postBox }})
                                                {% endif %}
                                            </td>
                                            <td>{{ adress.streetName }}</td>
                                            <td>{{ adress.city.cityName }}
                                                {% if adress.city.zip %}
                                                    ({{ adress.city.zip }})
                                                {% endif %}
                                            </td>
                                            <td>{{ adress.city.country.countryName }}</td>
                                            {% else %}
                                            <tr>
                                                <td colspan="10">Aucune adresse</td>
                                            </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2>Personne de contact </h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Numéro</th>
                                                <th>Relation</th>
                                                <th>Informations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for contactList in user.contactLists %}
                                            <td>{{ contactList.personOfContact.name }}</td>
                                            <td>{{ contactList.personOfContact.firstName }}</td>
                                            <td>{{ contactList.personOfContact.num1 }}</td>
                                            <td>{{ contactList.relation }}</td>
                                            <td>{{ contactList.info }}</td>
                                            {% else %}
                                            <tr>
                                                <td colspan="10">Aucune personne de contact</td>
                                            </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

{% endblock %}


