{% extends 'base.html.twig' %}

{% block Body %}
    {# Admin ou si la personne connectée est le parent du profil consulté #}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == user.userConnected.id) %}

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% if (is_granted('ROLE_ADMIN') and app.user.user.id != app.request.get("id")) %}
                        <h2>Inscription de {{ user.firstName }} {{ user.name }}</h2>
                    {% else %}
                        <h2>Mes inscriptions </h2>
                    {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Date d'inscription</th>
                                                <th>Activités</th>
                                                <th>Date de début</th>
                                                <th>Date de fin</th>
                                                <th>Remarque</th>
                                                {% if (is_granted('ROLE_ADMIN')) %}

                                                <th class="align-middle text-right">
                                                    Actions
                                                </th>
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for registration in user.registration %}
                                                <tr>
                                                    <td>{{ registration.registrationDate | date ('d-m-Y') }}</td>
                                                    <td>{{ registration.vikaEvent.title }}</td>
                                                    <td>{{ registration.vikaEvent.startDate |date('d-m-Y') }}</td>
                                                    <td>{{ registration.vikaEvent.endDate |date('d-m-Y') }}</td>
                                                    <td>{{ registration.remark }}</td>
                                                    <td class="align-middle text-right">
                                                        {% if (is_granted('ROLE_ADMIN')) %}
                                                        <a class="btn btn-sm btn-icon btn-secondary"
                                                           href="{{ path('dossier_inscription',{'id': registration.id, 'idevent':idevent}) }}">
                                                            <i class="fa fa-pencil">
                                                            </i>
                                                            <span class="sr-only">Modifier</span>
                                                        </a>

                                                        <a class="btn btn-sm btn-icon btn-secondary"
                                                           onclick="return confirm('Veuillez confirmer la suppression de cette inscription svp?');"

                                                           href="{{ path('remove_registration_admin',{'id':registration.id, 'idUser':user.id, 'idevent':idevent}) }}">
                                                            <i class="fa fa-trash-o">
                                                            </i>
                                                            <span class="sr-only">Supprimer</span>
                                                        </a>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucune activité</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if (is_granted('ROLE_ADMIN') and (app.user.id != user.userConnected.id)) %}
                        {#admin consulte un autre profil que le sien => retour vers la liste de users#}
                        <a class="btn btn-warning"
                           href="{{ path('admin_users', {orderBy: 'ASC'}) }}">
                            <b>Retour</b>
                        </a>
                        {# le profil consulté est un enfant et la personne connectée est son parent:
                        le retour se fait vers "Ma famille", sinon pas de btn retour#}
                    {% elseif(user.ownerUser == false and app.user.id == user.userConnected.id) %}
                        <a class="btn btn-warning"
                           href="{{ path('view_family',{'id':user.userConnected.id}) }}">
                            <b>Retour</b>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

{% endblock %}