{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %}

{% block javascripts %}
    <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
    {#
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    #}
    <script>
        $(document).ready(function () {
            $('#usertabel').DataTable();
        });
    </script>
{% endblock %}

{% block title %}Utilisateurs de VIKA{% endblock %}


{% block Body %}
    {# Admin ou si la personne connectée possède l'id du UserConnected pr lequel on affiche la famille.
     Attention ici, l'id affiché dans l'URL est celui de la table userConnected,
     et non pas de la table user  comme c'est le cas pour toutes les autres pages de members#}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == app.request.get("id")) %}

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">

                    {% if (is_granted('ROLE_ADMIN') and app.user.id != app.request.get("id")) %}
                        <h2>Famille du membre : {{ userConnected.user.firstName }} {{ userConnected.user.name }}</h2>
                    {% else %}
                        <h2>Ma famille</h2>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table id="usertabel" class="table dataTable no-footer">
                                            <thead>
                                            <tr>
                                                {% if (is_granted('ROLE_ADMIN')) %}
                                                    <th>Id</th>
                                                {% endif %}
                                                <th>Noms</th>
                                                <th>Prénom</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                {# Si l'id dans l'URL != de l'id du user qui s'affiche
                                                (pr ne pas afficher son propre profil dans le liste) #}
                                                {#                {% if (user.ownerUser and app.request.get('id') != user.ownerUser.id) %}#}
                                                {% if (user.ownerUser and user.ownerUser.id == user.userConnected.id) %}
                                                    {% if (is_granted('ROLE_ADMIN')) %}
                                                        <tr>
                                                        <td><b>{{ user.ownerUser.id }}</b></td>
                                                        <td><b>{{ user.name }}</b></td>
                                                        <td><b>{{ user.firstName }}</b></td>
                                                        <td class="align-middle text-right">
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('admin_show', {'id': user.id}) }}"><i
                                                                        class="oi oi-person"></i></a>
                                                            <span class="sr-only">Voir profil</span>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('admin_edit', {'id': user.id}) }}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                                <span class="sr-only">Modifier</span>
                                                            </a>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('admin_history', {'id': user.id}) }}"><i
                                                                        class="oi oi-badge"></i></a>
                                                            <span class="sr-only">Parcours</span>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('admin_registration', {'id': user.id}) }}"><i
                                                                        class="oi oi-cart"></i>
                                                                <span class="sr-only">Activités</span>
                                                            </a>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('admin_document', {'id': user.id}) }}"><i
                                                                        class="oi oi-document"></i>
                                                                <span class="sr-only">Documents</span>
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        <td><b>{{ user.name }}</b></td>
                                                        <td><b>{{ user.firstName }}</b></td>
                                                        <td class="align-middle text-right">
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('profile_show', {'id': user.id}) }}"><i
                                                                        class="oi oi-person"></i></a>
                                                            <span class="sr-only">Voir profil</span>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('profile_edit', {'id': user.id}) }}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                                <span class="sr-only">Modifier</span>
                                                            </a>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('profile_history', {'id': user.id}) }}"><i
                                                                        class="oi oi-badge"></i></a>
                                                            <span class="sr-only">Parcours</span>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('member_registration', {'id': user.id}) }}"><i
                                                                        class="oi oi-cart"></i>
                                                                <span class="sr-only">Activités</span>
                                                            </a>
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('member_document', {'id': user.id}) }}"><i
                                                                        class="oi oi-document"></i>
                                                                <span class="sr-only">Documents</span>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        {% if (is_granted('ROLE_ADMIN')) %}
                                                            <td>{{ user.id }}</td>
                                                        {% endif %}
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.firstName }}</td>
                                                        {% if (is_granted('ROLE_ADMIN')) %}
                                                            <td class="align-middle text-right">
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('admin_show', {'id': user.id}) }}"><i
                                                                            class="oi oi-person"></i></a>
                                                                <span class="sr-only">Voir profil</span>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('admin_edit', {'id': user.id}) }}">
                                                                    <i class="fa fa-pencil">
                                                                    </i>
                                                                    <span class="sr-only">Modifier</span>
                                                                </a>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('admin_history', {'id': user.id}) }}"><i
                                                                            class="oi oi-badge"></i></a>
                                                                <span class="sr-only">Parcours</span>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('admin_registration', {'id': user.id}) }}"><i
                                                                            class="oi oi-cart"></i>
                                                                    <span class="sr-only">Activités</span>
                                                                </a>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('admin_document', {'id': user.id}) }}"><i
                                                                            class="oi oi-document"></i>
                                                                    <span class="sr-only">Documents</span>
                                                                </a>
                                                            </td>
                                                        {% else %}
                                                            <td class="align-middle text-right">
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('profile_show', {'id': user.id}) }}"><i
                                                                            class="oi oi-person"></i></a>
                                                                <span class="sr-only">Voir profil</span>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('profile_edit', {'id': user.id}) }}">
                                                                    <i class="fa fa-pencil">
                                                                    </i>
                                                                    <span class="sr-only">Modifier</span>
                                                                </a>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('profile_history', {'id': user.id}) }}"><i
                                                                            class="oi oi-badge"></i></a>
                                                                <span class="sr-only">Parcours</span>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('member_registration', {'id': user.id}) }}"><i
                                                                            class="oi oi-cart"></i>
                                                                    <span class="sr-only">Activités</span>
                                                                </a>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('member_document', {'id': user.id}) }}"><i
                                                                            class="oi oi-document"></i>
                                                                    <span class="sr-only">Documents</span>
                                                                </a>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun membre de famille enregistré</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}
{% endblock %}
