{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %}

{% block javascripts %}
    <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
    {#
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    #}
    <script>
        $(document).ready(function () {
            $('#usertabel').DataTable();
        });
    </script>
{% endblock %}

{% block title %}Utilisateurs de VIKA{% endblock %}


{% block Body %}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == app.request.get("id")) %}

        {% if (is_granted('ROLE_ADMIN') and app.user.id == app.request.get("id")) %}
            <h2>Ma famille</h2>
        {% else %}
            {% if(is_granted('ROLE_ADMIN')) %}
                {# User est un parent  #}
                {% if (userConnected.user.ownerUser.id == userConnected.user.userConnected.id) %}
                    <h2>Famille du membre : {{ userConnected.firstName }} {{ userConnected.name }}</h2>
                {% else %}
                    <h2>Famille du membre : {{ userConnected.user.firstName }} {{ userConnected.user.name }}</h2>
                {% endif %}
            {% else %}
                {# le userConnected consulte son propre profil #}
                {% if(app.user.id == app.request.get("id")) %}
                    <h2>Ma famille</h2>
                {% else %}
                    <h2>Famille du membre : {{ userConnected.user.firstName }} {{ userConnected.user.name }}</h2>
                {% endif %}
            {% endif %}
        {% endif %}

        <table id="usertabel" class="table dataTable no-footer">
            <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Prénom</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                {# Si l'id dans l'URS != de l'id du user qui s'affiche
                (pr ne pas afficher son propre profil dans le liste) #}
                {% if (app.request.get('id') != user.id) %}
                    <tr>
                        <td>{{ userConnected.id }}</td>
                        <td>{{ user.name }}</td>
                        </td>
                        <td>{{ user.firstName }}</td>
                        <td>
                            {% if (is_granted('ROLE_ADMIN')) %}
                                <a href="{{ path('admin_show', {'id': user.id}) }}">Montrer</a>
                                <a href="{{ path('admin_edit', {'id': user.id}) }}">Editer</a>
                            {% else %}
                                <a href="{{ path('profile_show', {'id': user.id}) }}">Montrer</a>
                                <a href="{{ path('profile_edit', {'id': user.id}) }}">Editer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="10">Aucun</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}
{% endblock %}
