{% extends 'base.html.twig' %}

{% block Body %}
    {# Admin ou si la personne connectée est le parent du profil consulté #}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == user.userConnected.id) %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {#Si admin ou parent qui consulte son propre profil#}
                    {% if (is_granted('ROLE_ADMIN') or app.user.user.id == app.request.get("id")) %}
                        <h2>Parcours personnel </h2>
                    {% else %}
                        <h2>Parcours de {{ user.firstName }} {{ user.name }}</h2>
                    {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th>Categorie</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for history in user.Histories %}
                                                <tr>
                                                    <td>{{ history.description }}</td>
                                                    <td>{{ history.refDate |date('d/m/Y') }}</td>
                                                    <td>{{ history.category.title }}</td>
                                                    {% if (is_granted('ROLE_ADMIN')) %}
                                                        <td class="align-middle text-right">
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('admin_history_edit',{'id': user.id, 'idHist':history.id}) }}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                                <span class="sr-only">Modifier</span>
                                                            </a>
                                                            <a class="btn btn-sm btn-icon btn-secondary" id="deleteHist"
                                                               href="{{ path('remove_history_admin',{'id':history.id, 'idUser':user.id}) }}">
                                                                <i class="fa fa-trash-o">
                                                                </i>
                                                                <span class="sr-only">Supprimer</span>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun historique</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <a class="btn btn-primary"
                           href="{{ path('admin_history_new',{'id': user.id }) }}">
                            <b>Nouvel élément dans le parcours</b>
                        </a>
                        {#admin consulte un autre profil que le sien => retour vers la liste de users#}
                        {% if (app.user.id != user.userConnected.id) %}
                            <a class="btn btn-warning"
                               href="{{ path('admin_users', {orderBy: 'ASC'}) }}">
                                <b>Retour</b>
                            </a>
                        {% endif %}
                        {# le profil consulté est un enfant et la personne connectée est son parent:
                        le retour se fait vers "Ma famille", sinon pas de btn retour#}
                    {% elseif(user.ownerUser == false and app.user.id == user.userConnected.id) %}
                        <a class="btn btn-warning"
                           href="{{ path('view_family',{'id':user.userConnected.id}) }}">
                            <b>Retour</b>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>


    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

    <script type="text/javascript">
        document.querySelector("#deleteHist").addEventListener("click", function(event){
            if (!confirm('Veuillez confirmer la suppression de la ligne d\'historique svp?')) event.preventDefault();
        }, false);
    </script>

{% endblock %}


