{% extends 'base.html.twig' %}

{% block Body %}

    {% if (is_granted('ROLE_ADMIN') or app.user.id == app.request.get("id")) %}
        {# vérifie si l'id du visiteur correspond à l'id du membre qu'il veut consulter #}

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h1>Profil utilisateur
                        {% if (is_granted('ROLE_ADMIN') and app.user.id == app.request.get("id")) %}
                            <a class="btn btn-sm btn-icon btn-secondary" href="{{ path('admin_edit',{'id':app.user.id}) }}">
                                <i class="fa fa-pencil">
                                </i>
                                <span class="sr-only">Modifier profil</span>
                            </a>
                        {% else %}
                            {% if (is_granted('ROLE_ADMIN')) %}
                                <a class="btn btn-sm btn-icon btn-secondary" href="{{ path('admin_edit',{'id':userConnected.id}) }}">
                                    <i class="fa fa-pencil">
                                    </i>
                                    <span class="sr-only">Modifier profil</span>
                                </a>
                            {% else %}
                                <a class="btn btn-sm btn-icon btn-secondary" href="{{ path('profile_edit',{'id':userConnected.id}) }}">
                                    <i class="fa fa-pencil">
                                    </i>
                                    <span class="sr-only">Modifier profil</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </h1>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="user-avatar user-avatar-xl fileinput-button">
                                        <img src="{{ vich_uploader_asset(userConnected.user, 'imageFile') }}"
                                             alt="{{ userConnected.user.imageFile }}" name="avatar" width="150"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3>{{ userConnected.name }} {{ userConnected.firstName }} </h3>
                                        <div class="metadata">Inscrit sur le site depuis
                                            : {{ userConnected.createdUser |date('d/m/Y') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3> Informations générales :</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> Nom d'utilisateur : {{ userConnected.username }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> Email : {{ userConnected.email }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> Date de naissance : {{ userConnected.birthday |date('d/m/Y') }} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {% if (userConnected.user.belt) %}
                                            <h4> Grade</h4>
                                            <p> Grade : {{ userConnected.user.belt }} reçu
                                                le {{ userConnected.user.receiptDate |date('d/m/Y') }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2>Coordonnées </h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3> Téléphones </h3>
                                        {% for phone in userConnected.user.phones %}
                                            {{ phone.type }}
                                            {{ phone.num }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h3> Adresses </h3>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Numéro</th>
                                                <th>Rue</th>
                                                <th>Ville</th>
                                                <th>Pays</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for adress in userConnected.user.adress %}

                                            <td>{{ adress.type }}</td>
                                            <td>{{ adress.num }}
                                                {% if adress.postBox %}
                                                    ({{ adress.postBox }})
                                                {% endif %}
                                            </td>
                                            <td>{{ adress.streetName }}</td>
                                            <td>{{ adress.city.cityName }}
                                                {% if adress.city.zip %}
                                                    ({{ adress.city.zip }})
                                                {% endif %}
                                            </td>
                                            <td>{{ adress.city.country.countryName }}</td>
                                            {% else %}
                                            <tr>
                                                <td colspan="10">Aucune adresse</td>
                                            </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2>Personne de contact </h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Numéro</th>
                                                <th>Relation</th>
                                                <th>Informations</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for contactList in userConnected.user.contactLists %}
                                            <td>{{ contactList.personOfContact.name }}</td>
                                            <td>{{ contactList.personOfContact.firstName }}</td>
                                            <td>{{ contactList.personOfContact.num1 }}</td>
                                            <td>{{ contactList.relation }}</td>
                                            <td>{{ contactList.info }}</td>
                                            {% else %}
                                            <tr>
                                                <td colspan="10">Aucune personne de contact</td>
                                            </tr>
                                            </tbody>
                                        {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}

{% endblock %}


