{% extends "base.html.twig" %}

{% block title %}Nouveau membre{% endblock %}

{% block Body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2>Ajouter un nouveau membre de sa famille</h2>
            <div class="card">
                <div class="card-body">
                    {# Informations générales #} 
                    <h4>Informations générales</h4>
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(formUser) }}  

                            <div class="form-group">
                                <label for="">Nom</label>
                                {{ form_widget(formUser.name) }}
                            </div>
                            <div class="form-group">
                                <label for="">Prénom</label>
                                {{ form_widget(formUser.firstName) }}
                            </div>
                            <div class="form-group">
                                <label for="">Sexe</label>
                                {{ form_widget(formUser.sex) }}
                            </div>
                            <div class="form-group">
                                <label for="">Date de naissance</label>
                                {{ form_widget(formUser.birthdate) }}
                            </div>
    
                                {{ form_end(formUser) }}
                        </div>
                    </div>
                    {# Adresse #}
                    <h4>Adresse</h4>
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(adressForm) }}

                            <div class="form-group">
                                <label for="">Type</label>
                                {{ form_widget(adressForm.type) }}
                            </div>
                            <div class="form-group">
                                <label for="">Rue</label>
                                {{ form_widget(adressForm.streetName) }}
                            </div>
                            <div class="form-group">
                                <label for="">Numéro d'habitation</label>
                                {{ form_widget(adressForm.num) }}
                            </div>
                            <div class="form-group">
                                <label for="">Boite</label>
                                {{ form_widget(adressForm.postBox) }}
                            </div>
                            {{ form_end(adressForm) }}
                            {{ form_start(cityForm) }}
                            <div class="form-group">
                                <label for="">Code postale</label>
                                {{ form_widget(cityForm.zip) }}
                            </div>
                            <div class="form-group">
                                <label for="">Ville</label>
                                {{ form_widget(cityForm.cityName) }}
                            </div>
                            <div class="form-group">
                                <label for="">Pays</label>
                                {{ form_widget(cityForm.country) }}
                            </div>
                            {{ form_end(cityForm) }}
                        </div>
                    </div>
                    {# Point de contact #}
                    <h4>Point de contact</h4>
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(PoCForm) }}
                            <div class="form-group">
                                <label for="">Nom</label>
                                {{ form_widget(PoCForm.name) }}
                            </div>
                            <div class="form-group">
                                <label for="">Prénom</label>
                                {{ form_widget(PoCForm.firstName) }}
                            </div>
                            <div class="form-group">
                                <label for="">Numéro de téléphone</label>
                                {{ form_widget(PoCForm.num1) }}
                            </div>
                            {{ form_end(PoCForm) }}
                        </div>
                    </div>
                </div>
                <div class="container">
                <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-success">Création d'un nouveau membre</button>
                        </div>
                </div>
                <br>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}