{% extends 'base.html.twig' %}

{% block Body %}

    <!-- .card-header -->
    <div class="card-header">
        <!-- .steps -->
        <div class="steps" role="tablist">
            <ul>
                <li class="step" data-target="#test-l-1">
                    <a href="{{ path('registration_member_lesson', {'id':user.userConnected.id, 'idevent':  idevent.id}) }}"
                       class="step-trigger" tabindex="-1">
                        <span class="step-indicator step-indicator-icon"><i class="oi oi-people"></i></span>
                        <span class="d-none d-sm-inline">Ma famille</span>
                    </a>
                </li>
                <li class="step" data-target="#test-l-2">
                    <a href="{{ path('preregistration_summary', {'id':user.id, 'idevent':  idevent.id}) }}"
                       class="step-trigger" tabindex="-1">
                        <span class="step-indicator step-indicator-icon"><i class="oi oi-person "></i></span>
                        <span class="d-none d-sm-inline">Informations du participant</span>
                    </a>
                </li>
                <li class="active" data-target="#test-l-3">
                    <a class="step-trigger" tabindex="-1">
                        <span class="step-indicator step-indicator-icon"><i class="oi oi-script"></i></span>
                        <span class="d-none d-sm-inline">Conditions Générales</span>
                    </a>
                </li>
                <li class="step" data-target="#test-l-4">
                    <a class="step-trigger" tabindex="-1">
                        <span class="step-indicator step-indicator-icon"><i class="oi oi-check"></i></span>
                        <span class="d-none d-sm-inline">Résumé</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.steps -->
    </div>
    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-md-10">

    <h2> Conditions générales </h2>
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                </br>
                    <h6>En cochant ci-dessous, j'accepte le/la :</h6>
                    {{ form_start(form) }}
                    </br>
                    {{ form_widget(form.medical_care) }}

                    </br>
                    {{ form_widget(form.image_diffusion) }}

                    </br>
                    {{ form_widget(form.condition_registration) }}

</br>

                </div>
            <h6>{{ form_label(form.remark, 'Remarque éventuelle') }}</h6>
            </div>
        </div>
            </br>

            {{ form_widget(form.remark) }}
            </br>


                <button type="submit" class="btn btn-secondary btn-lg btn-block">Confirmer mon inscription au
                    cours
                </button>

        </div>
    </div>
    {{ form_end(form) }}



{% endblock %}