{% extends "base.html.twig" %}


{% block title %}Dossier de pré-inscription{% endblock %}
{% block Body %}

    <div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h2>Dossier de pré-inscription</h2>
            </div>
            <div class="col-auto">
                <a class="btn btn-warning"
                   href="{{ path('registration_view') }}" role="button">
                    Retour
                </a>
            </div>
        </div>
        <div class="card">
            <div class="container-fluid">
                {# INFORMATIONS GENERALES #}
                <div class="row justify-content-center">
                    <div class="col-11">
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h3>N°dossier: {{ registration.id }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <br>
                                        <h6>Statut:
                                            En cours
                                        </h6>
                                        <h6>Date de la pré-inscription: {{ "now"|date("m/d/Y") }}</h6>
                                        <h6>Date de l'inscription:  </h6>
                                        <h6>Evènement: {{ registration.vikaEvent.title }}</h6>
                                        <h6>Inscrit par: {{ user.name }} {{ user.firstname }}</h6>
                                        <h6>Email: {{ user.userConnected.email }}</h6>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p><em>Remarque du membre:</em></p>
                                        <div class="card">
                                            <div class="card-body">
                                                <p>{{ registration.remark }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {# INFORMATIONS GENERALES #}
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Informations générales</h3>
                                            <p>Nom: {{ registration.user.name }}</p>
                                            <p>Prénom: {{ registration.user.firstname }}</p>
                                            <p>Sexe: {{ registration.user.sex }}</p>
                                            <p>Date de naissance: {{ registration.user.birthdate |date('d/m/Y') }}</p>
                                            <p>Numéro de la fédération: {{ registration.user.fedNum }}</p>
                                            <p>Grade: {{ registration.user.belt }}</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {# TELEPHONES #}
                                            <h6>Numéro(s) de téléphone</h6>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Numéro</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for phone in user.phones %}
                                                <tr>
                                                    <td>{{ phone.type }}</td>
                                                    <td>{{ phone.num }}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td colspan="10">Aucune numéro de téléphone
                                                    </td>
                                                </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# ADRESSES #}
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Adresses</h3>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Numéro</th>
                                                    <th>Rue</th>
                                                    <th>Ville</th>
                                                    <th>Pays</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for adress in user.adress %}
                                                <tr>
                                                    <td>{{ adress.type }}</td>
                                                    <td>{{ adress.num }}
                                                        {% if adress.postBox %}
                                                            (BP:{{ adress.postBox }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ adress.streetName }}</td>
                                                    <td>{{ adress.city.cityName }}
                                                        {% if adress.city.zip %}
                                                            ({{ adress.city.zip }})
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ adress.city.country.countryName }}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td colspan="10">Aucune adresse</td>
                                                </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#PERSONNES DE CONTACT #}
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Point de contact</h3>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Numéro</th>
                                                    <th>Relation</th>
                                                    <th>Informations</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for contactList in user.contactLists %}
                                                <tr>
                                                    <td>{{ contactList.personOfContact.name }}</td>
                                                    <td>{{ contactList.personOfContact.firstName }}</td>
                                                    <td>{{ contactList.personOfContact.num1 }}</td>
                                                    <td>{{ contactList.relation }}</td>
                                                    <td>{{ contactList.info }}</td>

                                                    {#                                                            <td class="align-middle text-right">#}
                                                    {#                                                                {% if (is_granted('ROLE_ADMIN')) %}#}
                                                    {#                                                                    <a class="btn btn-sm btn-icon btn-secondary"#}
                                                    {#                                                                       href="{{ path('edit_PoC_admin',{'id':user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">#}
                                                    {#                                                                        <i class="fa fa-pencil">#}
                                                    {#                                                                        </i>#}
                                                    {#                                                                        <span class="sr-only">Modifier</span>#}
                                                    {#                                                                    </a>#}
                                                    {#                                                                    <a class="btn btn-sm btn-icon btn-secondary"#}
                                                    {#                                                                       href="{{ path('remove_PoC_admin',{'idCL':contactList.id, 'idUser':user.id}) }}">#}
                                                    {#                                                                        <i class="fa fa-trash-o">#}
                                                    {#                                                                        </i>#}
                                                    {#                                                                        <span class="sr-only">Supprimer</span>#}
                                                    {#                                                                    </a>#}
                                                    {#                                                                {% else %}#}
                                                    {#                                                                    <a class="btn btn-sm btn-icon btn-secondary"#}
                                                    {#                                                                       href="{{ path('edit_PoC',{'id':user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">#}
                                                    {#                                                                        <i class="fa fa-pencil">#}
                                                    {#                                                                        </i>#}
                                                    {#                                                                        <span class="sr-only">Modifier</span>#}
                                                    {#                                                                    </a>#}
                                                    {#                                                                    <a class="btn btn-sm btn-icon btn-secondary"#}
                                                    {#                                                                       href="{{ path('remove_PoC',{'idCL':contactList.id, 'idUser':user.id}) }}">#}
                                                    {#                                                                        <i class="fa fa-trash-o">#}
                                                    {#                                                                        </i>#}
                                                    {#                                                                        <span class="sr-only">Supprimer</span>#}
                                                    {#                                                                    </a>#}
                                                    {#                                                                {% endif %}#}
                                                    {#                                                            </td>#}
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td colspan="10">Aucune personne de contact</td>
                                                </tr>
                                                </tbody>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#CONDITIONS GENERALES#}
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h3>Conditions générales</h3>
                                            <br>
                                            <p>Prise en charge médicale:
                                                {% if 'medicalCare' == true %}
                                                    <b>OUI</b>
                                                {% else %}
                                                    <b>NON</b>
                                                {% endif %}
                                            </p>
                                            <p>Accepte le droit à l'image:
                                                {% if 'ImageDiffusion' == true %}
                                                    <b>OUI</b>
                                                {% else %}
                                                    <b>NON</b>
                                                {% endif %}
                                            </p>
                                            <p>Accepte les conditions générales du club:
                                                {% if 'ConditionRegistration' == true %}
                                                    <b>OUI</b>
                                                {% else %}
                                                    <b>NON</b>
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#VALIDER L'INSCRIPTION#}
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            {{ form_start(formSubmit) }}
                            <button type="submit" class="btn btn-secondary">Valider la pré-inscription</button>

                            {{ form_end(formSubmit) }}
                        </div>
                    </div>
                    {#                    <div class="container-fluid">#}
                    {#                        <div class="row justify-content-center">#}
                    {#                            <div class="col-11">#}
                    {#                                <div class="card">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <div class="row justify-content-between">#}
                    {#                                            <div class="col-auto">#}
                    {#                                                <a class="btn btn-primary"#}
                    {#                                                   href="#" role="button">#}
                    {#                                                    Supprimer l'inscription#}
                    {#                                                </a>#}
                    {#                                            </div>#}
                    {#                                            <div class="col-auto">#}
                    {#                                                {% if (validateRegistration == true) %}#}
                    {#                                                    <a class="btn btn-primary"#}
                    {#                                                       href="{{ path('registration_validate', {'id':registration.id}) }}" role="button">#}
                    {#                                                        {% if editRegistration == true %}#}
                    {#                                                            Modifier l'inscription#}
                    {#                                                        {% else %}#}
                    {#                                                            Valider l'inscription#}
                    {#                                                        {% endif %}#}
                    {#                                                    </a>#}
                    {#                                                {% else %}#}

                    {#                                                {% endif %}#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}