{% extends "base.html.twig" %}


{% block title %}Dossier de pré-inscription{% endblock %}
{% block Body %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>Dossier de pré-inscription</h2>
            <div class="card">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <br>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h3>N°dossier: {{ registration.id }}</h3> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6>Statut:</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6>Inscrit par: {{ user.name }} {{ user.firstname }}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6>Evènement: {{ registration.vikaEvent.title }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <h3>Informations générales</h3>
                                                <p>Nom: {{ registration.user.name }}</p> 
                                                <p>Prénom: {{ registration.user.firstname }}</p> 
                                                <p>Numéro de téléphone: </p> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="card">
                                <div class="card-body">
                                    {# ADRESSES #}
                                    <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <h3>Adresses</h3>
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>Type</th>
                                                            <th>Numéro</th>
                                                            <th>Rue</th>
                                                            <th>Ville</th>
                                                            <th>Pays</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for adress in user.adress %}
                                                        <tr>
                                                            <td>{{ adress.type }}</td>
                                                            <td>{{ adress.num }}
                                                                {% if adress.postBox %}
                                                                    (BP:{{ adress.postBox }})
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ adress.streetName }}</td>
                                                            <td>{{ adress.city.cityName }}
                                                                {% if adress.city.zip %}
                                                                    ({{ adress.city.zip }})
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ adress.city.country.countryName }}</td>
                                                        </tr>
                                                        {% else %}
                                                        <tr>
                                                            <td colspan="10">Aucune adresse</td>
                                                        </tr>
                                                        </tbody>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                            <div class="col-11">
                                <div class="card">
                                    <div class="card-body">
                                        {#PERSONNES DE CONTACT #}
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <h3>Point de contact</h3>
                                                                            <table class="table">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>Nom</th>
                                                                                    <th>Prénom</th>
                                                                                    <th>Numéro</th>
                                                                                    <th>Relation</th>
                                                                                    <th>Informations</th>
                                                                                    <th></th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for contactList in user.contactLists %}
                                                                                <tr>
                                                                                    <td>{{ contactList.personOfContact.name }}</td>
                                                                                    <td>{{ contactList.personOfContact.firstName }}</td>
                                                                                    <td>{{ contactList.personOfContact.num1 }}</td>
                                                                                    <td>{{ contactList.relation }}</td>
                                                                                    <td>{{ contactList.info }}</td>
                                        
                                                                                    <td class="align-middle text-right">
                                                                                        {% if (is_granted('ROLE_ADMIN')) %}
                                                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                                                            href="{{ path('edit_PoC_admin',{'id':user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">
                                                                                                <i class="fa fa-pencil">
                                                                                                </i>
                                                                                                <span class="sr-only">Modifier</span>
                                                                                            </a>
                                                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                                                            href="{{ path('remove_PoC_admin',{'idCL':contactList.id, 'idUser':user.id}) }}">
                                                                                                <i class="fa fa-trash-o">
                                                                                                </i>
                                                                                                <span class="sr-only">Supprimer</span>
                                                                                            </a>
                                                                                        {% else %}
                                                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                                                            href="{{ path('edit_PoC',{'id':user.id, 'idCL':contactList.id, 'idPoC':contactList.personOfContact.id}) }}">
                                                                                                <i class="fa fa-pencil">
                                                                                                </i>
                                                                                                <span class="sr-only">Modifier</span>
                                                                                            </a>
                                                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                                                            href="{{ path('remove_PoC',{'idCL':contactList.id, 'idUser':user.id}) }}">
                                                                                                <i class="fa fa-trash-o">
                                                                                                </i>
                                                                                                <span class="sr-only">Supprimer</span>
                                                                                            </a>
                                                                                        {% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                                {% else %}
                                                                                <tr>
                                                                                    <td colspan="10">Aucune personne de contact</td>
                                                                                </tr>
                                                                                </tbody>
                                                                                {% endfor %}
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <br>
                            <h4>Checkbox</h4>
                            <br>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p>Relation:  </p> 
                                            <p>Information: </p> 
                                            <p>Nom: </p> 
                                            <p>Prénom: </p> 
                                            <p>Numéro de téléphone: </p> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                            <div class="col-11">
                                <br>
                                <h4>Finaliser l'inscription</h4>
                                <br>
                                <div class="card">
                                    <div class="card-body">
                                        <h6>Ajouter la photo du membre</h6>
                                        <div class="card">
                                            <div class="card-body">
                                                <p>Ajouter la photo du membre</p>
                                             </div>
                                        </div>
                                        <h6>Ajouter le certificat médical</h6>
                                        <div class="card">
                                            <div class="card-body">
                                                <p>Ajouter la photo du membre</p>
                                             </div>
                                        </div>
                                        <h6>Liste des modalités de payement</h6>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="form-group">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>N° de payement</th>
                                                                        <th>Modalité</th>
                                                                        <th>Montant</th>
                                                                        <th>Statut</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for paiement in paiements %}
                                                                <tr>
                                                                    <td>{{ paiement.id }}</td>
                                                                    <td>{{ paiement.modality.name }}</td>
                                                                    <td>{{ paiement.amount }}</td>
                                                                    <td class="align-middle text-right">
                                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                                               href="{{ path('paiement_edit', {'id': paiement.id}) }}">
                                                                                <i class="fa fa-pencil">
                                                                                </i>
                                                                                <span class="sr-only">Modifier</span>
                                                                            </a>
                                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                                                href="{{ path('paiement_remove', {'id': paiement.id}) }}">
                                                                                <i class="fa fa-trash-o">
                                                                                </i>
                                                                                <span class="sr-only">Supprimer</span>
                                                                            </a>

                                                                    </td>
                                                                </tr>
                                                                {% else %}
                                                                <tr>
                                                                    <td colspan="10">Aucune modalité de payement encodée</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="card">  
                                                    <div class="card-header">
                                                            <p><b>Ajouter des payements</b></p>
                                                    </div>
                                                    <div class="card-body">
                                                                {{ form_start(formPaiement) }}  
                                                                    <div class="row align-items-end">
                                                                        <div class="col-3">
                                                                            <div class="form-group">
                                                                                <label for="">Modalité</label>
                                                                                {{ form_widget(formPaiement.modality) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div class="form-group">
                                                                                <label for="">Montant</label>
                                                                                {{ form_widget(formPaiement.amount) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-auto">
                                                                            <button type="submit" class="btn btn-outline-info">
                                                                                Ajouter un nouveau payement
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                {{ form_end(formPaiement) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}