{% extends 'base.html.twig'%}

{% block Body %}

        <h1>Inscription sur le site</h1>

        {{form_start(formChild)}}

        {{ form_row(formChild.phones) }}
        {{ form_widget(formChild.phones) }}
{#        {{ form_row(form.firstname, {'label': 'Nom', 'attr': {'placeholder':'Nom...'}}) }}#}
{#        {{ form_row(form.email, {'label': 'Adresse email', 'attr': {'placeholder':'Adresse email...'}}) }}#}
{#        {{ form_row(form.birthday, {'label': 'Date de naissance', 'attr': {'placeholder':'Date de naissance...'}}) }}#}


        <button type="submit" class="btn btn-success">Inscription!</button>
        {{ form_end(formChild) }}

{% endblock %}
