{% extends 'base.html.twig'%}

{% block Body %}
    {% if app.user %}

    <p>Vous êtes déjà inscrit</p>
    <a href="{{ path('security_logout') }}" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Déconnexion?</a>
    {% else %}
    <h1>Inscription sur le site</h1>

    {{form_start(form)}}
    {{ form_row(form.name, {'label': 'Prénom', 'attr': {'placeholder':'Prénom...'}}) }}
    {{ form_row(form.firstname, {'label': 'Nom', 'attr': {'placeholder':'Nom...'}}) }}
    {{ form_row(form.birthdate, {'label': 'Date de naissance', 'attr': {'placeholder':'Date de naissance...'}}) }}
    {{ form_row(form.sex, {'label': 'Sexe', 'attr': {'placeholder':'Sexe'}}) }}
    {{ form_row(form.belt, {'label': 'Ceinture', 'attr': {'placeholder':'Ceinture...'}}) }}
    {{ form_row(form.receiptdate, {'label': 'Date obtention', 'attr': {'placeholder':'Date obtention...'}}) }}
    {{ form_row(formadress.streetname, {'label': 'adresse', 'attr': {'placeholder':'Rue...'}}) }}
    {{ form_row(formadress.num, {'label': 'num', 'attr': {'placeholder':'Numéro...'}}) }}
    {{ form_row(formadress.postbox, {'label': 'BP', 'attr': {'placeholder':'Boîte Postale...'}}) }}
    {{ form_row(formcity.zip, {'label': 'CP', 'attr': {'placeholder':'Code Postal...'}}) }}
    {{ form_row(formcity.cityname, {'label': 'ville', 'attr': {'placeholder':'Ville...'}}) }}

    <button type="submit" class="btn btn-success">Inscription!</button>
    {{ form_end(form) }}
    {{ form_end(formadress) }}
    {{ form_end(formcity) }}
    {% endif %}

{% endblock %}
