{% extends 'base.html.twig' %}

{% block title %}Dossier inscription de VIKA{% endblock %}

{% block Body %}
    {% if (is_granted('ROLE_ADMIN')) %}

        <div class="container-fluid">
            {#LISTE DES PRE-INSCRIPTIONS#}
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2>Liste des dossiers de pré-inscription</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Numéro de dossier</th>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Nom de l'évènement</th>
                                                <th>Soumis le</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for registration in registrations %}
                                                <tr>
                                                    <td>{{ registration.id }}</td>
                                                    <td>{{ registration.user.name }}</td>
                                                    <td>{{ registration.user.firstname }}</td>
                                                    <td>{{ registration.vikaEvent.title }}</td>
                                                    <td>{{ (registration.registrationDate |date('d/m/Y')) }}</td>
                                                    <td class="align-middle text-right">
                                                        <a class="btn btn-sm btn-icon btn-secondary"
                                                           href="{{ path('dossier_inscription', {'id': registration.id}) }}">
                                                            <i class="fa fa-pencil">
                                                            </i>
                                                            <span class="sr-only">Voir dossier</span>
                                                        </a>
                                                        <a class="btn btn-sm btn-icon btn-secondary" id="deleteRel"
                                                           href="{{ path('remove_registration_admin', {'id':registration.id, 'idUser':registration.user.id}) }}">
                                                            <i class="fa fa-trash-o">
                                                            </i>
                                                            <span class="sr-only">Supprimer</span>
                                                        </a>
                                                        <a class="btn btn-sm btn-icon btn-secondary"
                                                           href="{{ path('fiche_membre', {'id':registration.user.id, 'idReg':registration.id}) }}">
                                                            <i class="fa fa-file">
                                                            </i>
                                                            <span class="sr-only">Imprimer fiche</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun dossier de pré-inscription</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#LISTE DES INSCRIPTIONS#}
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="col-6">
                        <div class="form-group">
                            <h2>Liste des dossiers d'inscription </h2>

                            {% if allReg %}
                                <a id="allReg" name="allReg" class="btn btn-primary" methods="GET"
                                   href="{{ path('registration_view') }}"><label>Inscriptions en cours
                                    </label>
                                </a>
                            {% else %}
                                <a id="allReg" name="allReg" class="btn btn-outline-primary" methods="GET"
                                   href="{{ path('registration_view', {orderby:'allReg'}) }}"><label>Inscriptions
                                        terminées
                                    </label>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Numéro de dossier</th>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Nom de l'évènement</th>
                                                <th>Date de validation</th>
                                                <th>Date de clôture</th>
                                                <th>Nombre de payement</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for registrationValidate in registrationsValidate %}
                                                {% if allReg == false %}
                                                    {% if  ((registrationValidate.vikaEvent.endDate |date('Y-m-d')) > ("now"|date("Y-m-d"))) %}
                                                        <tr>
                                                            <td>{{ registrationValidate.id }}</td>
                                                            <td>{{ registrationValidate.user.name }}</td>
                                                            <td>{{ registrationValidate.user.firstname }}</td>
                                                            <td>{{ registrationValidate.vikaEvent.title }}</td>
                                                            <td>{{ (registrationValidate.ValidateRegistrationDate |date('d-m-Y')) }}</td>
                                                            <td>{{ (registrationValidate.vikaEvent.endDate |date('d-m-Y')) }}</td>
                                                            {% set nbr = 0 %}
                                                            {% for id in registrationValidate.Paiement %}
                                                                {% set nbr = nbr + 1 %}
                                                            {% endfor %}
                                                            <td>{{ nbr }}</td>
                                                            <td class="align-middle text-right">
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('dossier_inscription', {'id': registrationValidate.id}) }}">
                                                                    <i class="fa fa-pencil">
                                                                    </i>
                                                                    <span class="sr-only">Voir dossier</span>
                                                                </a>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   id="deleteReg" onclick="return test();"
                                                                   href="{{ path('remove_registration_admin', {'id':registrationValidate.id, 'idUser':registrationValidate.user.id}) }}">
                                                                    <i class="fa fa-trash-o">
                                                                    </i>
                                                                    <span class="sr-only">Supprimer</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% else %}
                                                    {% if  ((registrationValidate.vikaEvent.endDate |date('Y-m-d')) < ("now"|date("Y-m-d"))) %}
                                                        <tr>
                                                            <td>{{ registrationValidate.id }}</td>
                                                            <td>{{ registrationValidate.user.name }}</td>
                                                            <td>{{ registrationValidate.user.firstname }}</td>
                                                            <td>{{ registrationValidate.vikaEvent.title }}</td>
                                                            <td>{{ (registrationValidate.ValidateRegistrationDate |date('d-m-Y')) }}</td>
                                                            <td>{{ (registrationValidate.vikaEvent.endDate |date('d-m-Y')) }}</td>
                                                            {% set nbr = 0 %}
                                                            {% for id in registrationValidate.Paiement %}
                                                                {% set nbr = nbr + 1 %}
                                                            {% endfor %}
                                                            <td>{{ nbr }}</td>
                                                            <td class="align-middle text-right">
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   href="{{ path('dossier_inscription', {'id': registrationValidate.id}) }}">
                                                                    <i class="fa fa-pencil">
                                                                    </i>
                                                                    <span class="sr-only">Voir dossier</span>
                                                                </a>
                                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                                   id="deleteReg" onclick="return test();"
                                                                   href="{{ path('remove_registration_admin', {'id':registrationValidate.id, 'idUser':registrationValidate.user.id}) }}">
                                                                    <i class="fa fa-trash-o">
                                                                    </i>
                                                                    <span class="sr-only">Supprimer</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun dossier d'inscription</td>
                                                </tr>
                                                {#   {% if registrationValidate |length > 1 %}
                                                   {% else %}
                                                   <tr>
                                                       <td colspan="10">Aucun dossier d'inscription</td>
                                                   </tr>
                                                   {% endif %}#}
                                            {% endfor %}
                                            {#{% else %}
                                                <tr>
                                                    <td colspan="10">Aucun dossier d'inscription</td>
                                                </tr>
                                            {% endfor %}#}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        function test() {
            confirm('Etes vous certain de vouloir supprimer cette inscription?');
        }
        //if (!confirm('Veuillez confirmer la suppression cette inscription svp!!?')) event.preventDefault();
    </script>

{% endblock %}
