{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

{% endblock %}

{% block javascripts %}
    <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
    {#
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    #}
    <script>
        $(document).ready(function () {
            $('#usertabel').DataTable();
        });
    </script>
{% endblock %}

{% block title %}Composition de la famille{% endblock %}


{% block Body %}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == app.request.get("id")) %}

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% if (is_granted('ROLE_ADMIN') and app.user.id == app.request.get("id")) %}
                        <h2>Ma famille</h2>
                    {% else %}
                        {% if (is_granted('ROLE_ADMIN')) %}
                            {# User est un parent  #}
                            {% if (userConnected.user.ownerUser
                                and userConnected.user.ownerUser.id == userConnected.user.userConnected.id) %}
                                <h2>Famille du membre : {{ userConnected.firstName }} {{ userConnected.name }}</h2>
                            {% else %}
                                <h2>Famille du membre
                                    : {{ userConnected.user.firstName }} {{ userConnected.user.name }}</h2>
                            {% endif %}
                        {% else %}
                            {# le userConnected consulte son propre profil #}
                            {% if (app.user.id == app.request.get("id")) %}
                                <h2>Ma famille</h2>
                            {% else %}
                                <h2>Famille du membre
                                    : {{ userConnected.user.firstName }} {{ userConnected.user.name }}</h2>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table id="usertabel" class="table dataTable no-footer">
                                            <thead>
                                            <tr>
                                                {% if (is_granted('ROLE_ADMIN')) %}
                                                    <th>Id</th>
                                                {% endif %}
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for user in users %}
                                                {# Si l'id dans l'URL != de l'id du user qui s'affiche
                                                (pr ne pas afficher son propre profil dans le liste) #}
                                                {#                {% if (user.ownerUser and app.request.get('id') != user.ownerUser.id) %}#}
                                                {% if (user.ownerUser and user.ownerUser.id == user.userConnected.id) %}
                                                    {% if (is_granted('ROLE_ADMIN')) %}
                                                        <tr>
                                                        <td><b>{{ user.ownerUser.id }}</b></td>
                                                        <td><b>{{ user.ownerUser.name }}</b></td>
                                                        <td><b>{{ user.ownerUser.firstName }}</b></td>
                                                        <td class="align-middle text-right">
                                                            <a class="btn btn-outline-info" href="#">
                                                                Inscrire
                                                            </a>
                                                        </td>
                                                    {% else %}
                                                        <td><b>{{ user.ownerUser.name }}</b></td>
                                                        <td><b>{{ user.ownerUser.firstName }}</b></td>
                                                        <td class="align-middle text-right">
                                                            <a class="btn btn-outline-info" href="#">
                                                                Inscrire
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        {% if (is_granted('ROLE_ADMIN')) %}
                                                            <td>{{ user.id }}</td>
                                                        {% endif %}
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.firstName }}</td>
                                                        <td class="align-middle text-right">
                                                            <a class="btn btn-outline-info" href="#">
                                                                Inscrire
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun membre de famille enregistré</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="button" class="btn btn-success" href="#">Ajouter un nouveau membre</button>
                        </div>
                     </div>
            
                </div>
            </div>
        </div>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}
{% endblock %}

