{% extends 'base.html.twig' %}

{% block Body %}
    {% if (is_granted('ROLE_ADMIN') or app.user.id == user.userConnected.id or app.user.id == app.request.get("id")) %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {#Si admin ou parent qui consulte son propre profil#}
                    {% if (is_granted('ROLE_ADMIN') or app.user.user.id == app.request.get("id")) %}
                        <h2>Editer les contacts</h2>
                    {% else %}
                        <h2>Editer les contacts 2</h2>
                    {% endif %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Titre</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for attachedFile in user.attachedFiles %}
                                                <tr>
                                                    <td>{{ attachedFile.title }}</td>
                                                    <td>{{ attachedFile.description }}</td>
                                                    {% if (is_granted('ROLE_ADMIN')) %}

                                                        <td class="align-middle text-right">

                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('edit_admin_document',{'idUser': user.id, 'id':attachedFile.id}) }}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                                <span class="sr-only">Modifier</span>
                                                            </a>

                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('remove_document_admin',{'idUser': user.id, 'id':attachedFile.id}) }}">
                                                                <i class="fa fa-trash-o">
                                                                </i>
                                                                <span class="sr-only">Supprimer</span>
                                                            </a>
                                                            <!--
                                                            <a class="btn btn-sm btn-icon btn-secondary"
                                                               href="{{ path('afficher_document_admin',{'idUser': user.id, 'id':attachedFile.id}) }}">
                                                                <i class="far fa-eye">
                                                                </i>
                                                                <span class="sr-only">Afficher</span>
                                                            </a>
                                                            -->
                                                        </td>

                                                    {% endif %}
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="10">Aucun document</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <a class="btn btn-primary" href="{{ path('load_admin_document', {'idUser':user.id}) }}"
                           class="btn-btn-primary">
                            <b>Nouveau document</b>
                        </a>
                        {#admin consulte un autre profil que le sien => retour vers la liste de users#}
                        {% if (app.user.id != user.userConnected.id) %}
                            <a class="btn btn-warning"
                               href="{{ path('admin_users', {orderBy: 'ASC'}) }}">
                                <b>Retour</b>
                            </a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary" href="{{  path('load_member_document', {'idUser':user.id})}}"
                           class="btn-btn-primary">
                            <b>Nouveau document</b>
                        </a>
                        <a class="btn btn-warning"
                           href="{{ path('view_family',{'id':user.userConnected.id}) }}">
                            <b>Retour</b>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h2> Vous n'êtes pas autorisé à accéder à cette page </h2>
    {% endif %}
{% endblock %}
