<html>
    <footer class="app-footer">
        <div class="row">
            <div class="col-4">
                <h5><a class="text-muted">Liens</a></h5>
                <div class="container">
                    <!-- Ajouter une boucle à partir d'ici-->
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="http://www.ffkarate.fr/flandreartois/index.php">Ligue Flandre-Artois</a></font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="https://www.shotokan-carvin-karate.com/">Karaté Club Carvin</a></font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="http://sites.google.com/site/karatefleurbaix/">Karaté Club Fleurbaix</a></font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="http://toufflerskarateclub.com/">Karaté Club Toufflers</a></font>
                        </font>
                    </li>
                    <li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><a class="text" href="http://www.karateneuvilleenferrain.org/">Karaté Club Neuville en Ferrain</a></font>
                        </font>
                    </li>
                    <!-- Ajouter une boucle jusque là-->
                </div>
            </div>
            <div class="col-4">
                {% if (is_granted('ROLE_ADMIN')) %}
                    <a class="btn btn-primary" href="{{ path('contact_club') }}">
                        <b>Modifier le(s) contact(s)</b>
                    </a>
                {% endif %}
                <h5>Contact</h5>
                {% for contact in contacts %}
                    <ul class="list-unstyled">
                        <li><strong>{{ contact.firstName }} {{ contact.name }}</strong></li>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> {{ contact.num }}</font>
                        </font>
                        <br>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"> {{ contact.email }}</font>
                        </font>
                    </ul>
                {% endfor %}
                {#
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><strong>{{ contact.firstName }} {{ contact.name }}</strong></li>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> {{ contact.num }}</font>
                    </font>
                    <br>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> {{ contact.email }}</font>
                    </font>
                </ul>
                #}
            </div>
            <div class="col-4">
                <h5><a class="text-muted">Adresse</a></h5>
                <p>Boulevard de Valmy <br> 59650 Villeneuve-d'Ascq, France</p>
{#                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.4109706176264!2d4.448761215459205!3d50.414814197813456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2260e396b00e3%3A0xd4150cb9db7807f1!2sUMons+Campus+Charleroi!5e0!3m2!1sfr!2sbe!4v1553626305658" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>#}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.5385003677698!2d3.13127411659553!3d50.6171124794986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d638560254f3%3A0x4901b3c584cef19b!2sBoulevard+de+Valmy%2C+59650+Villeneuve-d&#39;Ascq%2C+France!5e0!3m2!1sfr!2sbe!4v1558732854623!5m2!1sfr!2sbe" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="copyright"> © 2019-2024 Vika - Site réalisé par les étudiants de <a class="text" href="https://web.umons.ac.be/fpms/fr/">l'UMons</a></div>
    </footer>
</html>
