{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}


{% block Body %}

    {#
        {% form_theme formGaleriephoto 'jquery.collection.html.twig' %}
    #}

<h1> Création d'une nouvelle galerie photo </h1>

{{ form_start(formGaleriephoto) }}

    <div class="form-group">
        <label for="">Titre de la galerie</label>
        {{ form_widget(formGaleriephoto.name) }}
    </div>

    <div class="form-group">
        <label for="">Description</label>
        {{ form_widget(formGaleriephoto.description) }}
    </div>

    <div class="form-group">
        <label for="">Photo d'avatar</label>
        {{ form_widget(formGaleriephoto.imageFile) }}                     
    </div>

    <div class="form-group">
            {{ form_label(formGaleriephoto.media, 'Ajouter des photos') }}                     
    </div>

    <ul class="medias" data-prototype="{{ form_widget(formGaleriephoto.media.vars.prototype)|e('html_attr') }}">
            {% for media in formGaleriephoto.media %}
                <li> 
                    {{ form_row(media.imageFile) }}
                    {{ form_label(media.imageFile, 'Nom de la photo') }}                    
                </li>
            {% endfor %}
    </ul>

    <button type="submit" class="btn btn-primary">
        {%if editMode %}
            Enregister modification(s)
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>


{{ form_end(formGaleriephoto)}}


{% endblock %}