{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}


{% block Body %}

    <h1> Création d'une nouvelle galerie </h1>
    {{ form_start(formGaleriephoto) }}
    {#
        {%
            form_theme formGaleriephoto
            'jquery.collection.html.twig'
        %}

        {{ form_start(formGaleriephoto) }}
    #}
    {{ form_label(formGaleriephoto.name, 'Titre de la galerie') }}
    {{ form_widget(formGaleriephoto.name) }}
    {{ form_label(formGaleriephoto.description, 'Description (optionnel)') }}
    {{ form_widget(formGaleriephoto.description) }}

    <h3>Photos</h3>
    <ul class="media" data-prototype="{{ form_row(formGaleriephoto.media.vars.prototype)|e('html_attr') }}">

    {% for media in formGaleriephoto.media  %}
{#        <div class="media">
            <div class="row">
                <div class="col-sm-6" >#}
                    <li>{{ form_row(media.imageFile) }}</li>
                    {#  <li>{{ form_widget(media.updatedImage) }}</li> #}
{#                </div>
            </div>
        </div>#}
    {% endfor %}
    </ul>


    <button type="submit" class="btn btn-success">
        {%if editMode %}
            Enregister modification(s)
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>


    {{ form_end(formGaleriephoto) }}


{% endblock %}

