{% extends "base.html.twig" %}

{% block Body %}

<h1> Création d'une nouvelle galerie </h1>

{{ form_start(formGaleriephoto) }}

    <ul class="media">
        {% for media in formGaleriephoto.media  %}
            <li>{{ form_row(media.imageFile) }}</li>
        {% endfor %}

    </ul>


    {#
        {{ form_start(formMedia) }}
        {{ form_end(formMedia) }}
      #}



    <button type="submit" class="btn btn-success">
        {%if editMode %}
            Enregister modification(s)
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>


{{ form_end(formGaleriephoto)}}


{% endblock %}