{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block Body %}

    {#
        {% form_theme formGaleriephoto 'jquery.collection.html.twig' %}
    #}

    <h1> Création d'une nouvelle galerie photo </h1>
    {{ form_start(formGaleriephoto) }}


    {{ form_start(formGaleriephoto) }}

    {{ form_label(formGaleriephoto.name, 'Titre de la galerie') }}
    {{ form_widget(formGaleriephoto.name) }}
    {{ form_label(formGaleriephoto.description, 'Description (optionnel)') }}
    {{ form_widget(formGaleriephoto.description) }}

    <h3>Photos</h3>

    <ul class="medias" data-prototype="{{ form_widget(formGaleriephoto.media.vars.prototype)|e('html_attr') }}">
        {% for media in formGaleriephoto.media %}
            <li> {{ form_row(media.imageFile) }} </li>
        {% endfor %}
    </ul>


    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregister les modifications
        {% else %}
            Ajouter la galerie photo
        {% endif %}
    </button>


    {{ form_end(formGaleriephoto) }}

{% endblock %}

