{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}


{% block Body %}

    {#
        {% form_theme formGaleriephoto 'jquery.collection.html.twig' %}
    #}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ form_start(formGaleriephoto) }}
                            {% if (galerie.name != "Carrousel") %}
                                {% if editMode %}
                                    <h1> Modification de la galerie photo : </h1>
                                    <h2>{{ galerie.name }} </h2>
                                {% else %}
                                    <h1> Nouvelle galerie photo </h1>
                                {% endif %}

                                <div class="form-group">
                                    <label for="">Titre de la galerie</label>
                                    {{ form_widget(formGaleriephoto.name) }}
                                </div>

                                <div class="form-group">
                                    <label for="">Description</label>
                                    {{ form_widget(formGaleriephoto.description,
                                        { 'attr': {'rows' : '4' }} ) }}
                                </div>

                                <div class="form-group">
                                    <label for="">Photo d'avatar</label>
                                    {{ form_widget(formGaleriephoto.imageFile) }}
                                    {% if galerie.avatarName %}
                                    <img class="embed-responsive-rounded"
                                         src="{{ asset('/upload/galerie/' ~ galerie.avatarName) }}"
                                         alt="Card image" width="40%">
                                    {% endif %}
                                </div>

                            {% else %}
                                {% if editMode %}
                                    <h1> Modification du carrousel de la page d'accueil </h1>
                                {% else %}
                                    <h1> Création du carrousel de la page d'accueil </h1>
                                {% endif %}
                            {% endif %}

                            <div class="form-group">
                                {{ form_label(formGaleriephoto.media, 'Ajouter des photos') }}
                            </div>

                            <ul class="medias" data-prototype="{{ form_widget(formGaleriephoto.media.vars.prototype)|e('html_attr') }}">
                                    {% for media in formGaleriephoto.media %}
                                        <li> {{ form_label(media.imageFile, 'Photo', {'label_attr':{'class':'control-label'}}) }}
                                            {{ form_widget(media.imageFile, {'attr':{'class':'control-label'}}) }} </li>
                                    {% endfor %}
                            </ul>
                            <button type="submit" class="btn btn-primary">
                                {% if editMode %}
                                    Enregister modification(s)
                                {% else %}
                                    Ajouter la galerie photo
                                {% endif %}
                            </button>

                            {{ form_end(formGaleriephoto) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
