{% extends 'base.html.twig' %}


{% block Body %}
<h2>Bienvenue dans la galerie photo</h2>
<div class="container">
        {% if (is_granted('ROLE_ADMIN'))%}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="tile tile-img tile-lg">
                            <img src="Logo_Vika.png" alt="" style="height: 35px;width: auto;">
                        </div>
                        Nouvelle galerie photo
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary btn-block btn-xl" href="{{ path('galeriephoto_create')}}" role="button">Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    
        <div class="row justify-content-md-center">
            
        </div>
</div>

    <div class="row justify-content-between">
        <div class="col">
            <h2>Bienvenue dans la galerie photo</h2>
        </div>
        <div class="col-2">
            {% if not app.user %}
                <a class="btn btn-primary btn-md" href="{{ path('galeriephoto_create') }}" role="button">Nouvelle
                    galerie</a>
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row justify-content-md-center">
            {% for gallery in galleries %}
            <div class="col-6">
                <div class="card">
                    <!-- .card-header -->
                    <div class="card-body">
                        <h5 class="card-title">{{ gallery.name }}</h5>
                    </div><!-- /.card-body -->
                    <!-- 16:9 aspect ratio -->
                   {# <figure class="embed-responsive embed-responsive-16by9 mb-0">
#}{#                        <img class="embed-responsive-item" src="{{ asset('/upload/galerie/' ~ gallery.media.imageName)}}" alt="Card image">#}{#
  #}{#                      <img class="embed-responsive-item"
                             src="https://media.gettyimages.com/photos/illuminated-hashtag-sign-on-table-in-fashion-studio-picture-id909598172"
                             alt="Card image">#}{#
                    </figure><!-- /.embed-responsive -->#}
                    <!-- .card-body -->
                    <div class="card-body">
                        <p class="card-text">

                            {{ gallery.description|raw }}

                        </p>
                    </div><!-- /.card-body -->
                    <!-- .card-footer -->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <div class="card-footer-content text-muted">
                                    <a class="btn btn-primary btn-md" href="#" role="button">Consulter</a>
                                </div>
                            </div>
                            {% if app.user %}
                                <div class="col-2">
                                    <div class="card-footer-content text-muted">
                                        <a class="btn btn-primary btn-md" href="{{ path('gallery_edit',{'id':gallery.id})}}" role="button">Editer</a>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="card-footer-content text-muted">
                                        <a class="btn btn-primary btn-md" href="#" role="button">Supprimer</a>
                                    </div>
                                </div>
                            {% else %}
                            {% endif %}
                        </div>
                    </div><!-- /.card-footer -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
