{% extends 'base.html.twig'%}

{% block Body %}

    <h1>
        {%if editMode %}
            Modification d'un article
        {% else %}
            Création d'un article
        {% endif %} 
    </h1>

    {{ form_start(formArticle) }}

    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArticle.title) }}
    </div>

    <div class="form-group">
        <label for="">Catégorie</label>
        {{ form_widget(formArticle.category) }}
    </div>

    <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArticle.content) }}
    </div>
    <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="">Nom de l'image</label>
                    {{ form_widget(formArticle.imageFile) }}                     
                </div>
            </div>
        </div>

    <button type="submit" class="btn btn-success">
        {%if editMode %}
            Enregister modification(s)
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>


    {{ form_end(formArticle)}}

<!--
ancienne version avant sécurité dans le BlogController
<form action="" method="post">
    <input type="text" name="title" placeholder="Titre de l'article">
    <textarea name="content" placeholder="Contenu de l'article"></textarea>
    <input type="text" name="image" placeholder="Image de l'article">
    <button type="submit">Enregistrer</button>
</form>
-->

{% endblock %}
