{% extends 'base.html.twig' %}

{% block title %}PriceGrid{% endblock %}

{% block Body %}
    <h1>PriceGrid</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price_grid.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ price_grid.price }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ price_grid.public }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ price_grid.info }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('priceGrid_index', {orderby:'search'}) }}">back to list</a>

    <a href="{{ path('price_grid_edit', {'id': price_grid.id}) }}">edit</a>

    {{ include('price_grid/_delete_form.html.twig') }}
{% endblock %}
