{% extends "base.html.twig" %}

{% block title %}VIKA Encadrement{% endblock %}
{% block Body %}
<h1>Ajouter un nouvel entraineur!</h1>
{{ form_start(formEncadrement) }}

<div class="col-6">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Nom de l'entraineur</label>
                        {{ form_widget(formEncadrement.name) }}                     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Description</label>
                        {{ form_widget(formEncadrement.description) }}                     
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Photo</label>
                        {{ form_widget(formEncadrement.imageFile) }}                     
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-md">
                    {%if editMode %}
                        Enregister modification(s)
                    {% else %}
                        Ajouter
                    {% endif %}
            </button>
        </div>
        
    </div>
</div>
{{ form_end(formEncadrement) }}
{% endblock %}