{% extends "base.html.twig" %}

{% block Body %}
<h2>Encadrement sportif</h2>

        <div class="row justify-content-md-center">
            <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                        <p class="card-text"> 
                            
                                Aziz MAANINOU et tous les instructeurs de VIKA offrent aux adhérents la garantie d'un enseignement maîtrisé, à la portée de tous.
                            
                        </p>
                        {% if not app.user%}
                        <div class="row">
                            <div class="col-auto">
                                <a class="btn btn-primary btn-md" href="" role="button">Editer</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-primary btn-md" href="/vika-encadrement-new" role="button">Ajouter entraineur</a>
                            </div>
                        </div>
                        {% endif %}
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="card-footer-content">
                                    <div class="row justify-content-md-center">
                                            {% for personne in personnes %}
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                    <h5 class="card-title">{{ personne.name }}</h5>
                                                    </div>
                                                    <div class="text-center">
                                                        <img class="embed-responsive-item" src="upload/media/{{ personne.imagename }}" alt="Card image" style=width:30%>
                                                    </div>
                                                    <div class="card-body">
                                                        <p class="card-text">{{ personne.description|raw }}</p>
                                                    </div>
                                                        {% if not app.user%}
                                                        <div class="card-footer">
                                                                <div class="row justify-content-start">
                                                                        <div class="col-4">
                                                                            <div class="card-footer-content text-muted"> 
                                                                                <a class="btn btn-primary btn-md" href="{{ path('blog_edit', {'id':personne.id}) }}" role="button">Editer</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <div class="card-footer-content text-muted"> 
                                                                                <a class="btn btn-primary btn-md" href="{{ path('blog_show', {'id':personne.id}) }}" role="button">Supprimer</a>
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        {% else %}
                                                        {% endif %}
                                                    
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    




    

{% endblock %}