{% extends 'base.html.twig'%}

{% block Body %}
    {% if (is_granted('ROLE_ADMIN')) %}
    <h1> Modification du texte! </h1>

    {{ form_start(formContent) }}

    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formContent.title) }}
    </div>

        <div class="form-group">
            {{ form_label(formContent.content,'Contenu de la page') }}

            {{ form_widget(formContent.content) }}
        </div>


    {#
        <div class="form-group">
            <label for="">Titre</label>
            {{ form_widget(formArticle.imageFile) }}
        </div>
    #}
    <button type="submit" class="btn btn-success">

            Enregister modification(s)

    </button>

    {{ form_end(formContent)}}

    <!--
    ancienne version avant sécurité dans le BlogController
    <form action="" method="post">
        <input type="text" name="title" placeholder="Titre de l'article">
        <textarea name="content" placeholder="Contenu de l'article"></textarea>
        <input type="text" name="image" placeholder="Image de l'article">
        <button type="submit">Enregistrer</button>
    </form>
    -->
 {% else %}
<div align="center">
     <div class="col-lg-4">
         <div class="alert alert-danger alert-dismissible fade show">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             <strong>Désolé </strong>, vous n'avez pas accès à cette page. <a href="{{ path('home_page') }}" class="alert-link">Revenir sur la page d'accueil</a>.
         </div>
     </div>
</div>
 {% endif %}
{% endblock %}
