{% extends 'base.html.twig' %}

{% block title %}Edit VikaEvent{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/js/datetimepicker/jquery.datetimepicker.css"/ >
    <script src="/js/datetimepicker/jquery.js"></script>
    <script src="/js/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/datetimepicker/jquery.datetimepicker.js"></script>
    <script>
        jQuery.datetimepicker.setLocale('fr');
        jQuery('.datetimepicker').datetimepicker({
            format: 'd-m-Y H:i',
        });
    </script>
{% endblock %}

{% block Body %}

    {{ form_start(form) }}

    {#    {{ form_start(formPrice) }}#}

    {#    {{ form_widget(formPrice) }}#}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                {% if (newMode == true) %}
                    <h1>Nouvel événement</h1>
                {% else %}
                    <h1>Modification d'un événement</h1>
                {% endif %}

                <a href="{{ path('vika_event_index') }}">Liste des événements (admin)</a>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <h4>{{ form_label(form.title, 'Titre de l\'événement') }}</h4>
                                    {{ form_widget(form.title) }}
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-4">
                                <div class="form-group">
                                    <h6>{{ form_label(form.category, 'Catégorie') }}</h6>
                                    <p class="card-text">{{ form_widget(form.category) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h6>{{ form_label(form.imageFile, 'Photo d\'illustration') }}</h6>
                                    <p class="embed-responsive-item rounded">{{ form_widget(form.imageFile) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h6>{{ form_label(form.owner, 'Titulaire de l\'événement') }}</h6>
                                    <p class="card-text">
                                        {{ form_widget(form.owner) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="form-group">
                                    <h6>{{ form_label(form.startDate, 'Date de début') }}</h6>
                                    {{ form_widget(form.startDate, { attr:{ class:'datetimepicker' } }) }}
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <h6>{{ form_label(form.endDate, 'Date de fin') }}</h6>
                                    {{ form_widget(form.endDate, { attr:{ class:'datetimepicker' } }) }}
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <h6>{{ form_label(form.capacity, 'Capacité') }}</h6>
                                    <p class="card-text">{{ form_widget(form.capacity) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h6>{{ form_label(form.info, 'Description') }}</h6>
                                    <p class="card-text">{{ form_widget(form.info) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h6>{{ form_label(form.published, 'Publiée sur le site') }}</h6>
                                    <p class="card-text">{{ form_widget(form.published) }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info">
                                {% if (newMode == true) %}
                                    Enregistrer événément
                                {% else %}
                                    Enregistrer modifications
                                {% endif %}
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                {% if (newMode==false) %}
                <h5>Tarif</h5>
                {{ form_start(formPrice) }}
                <div class="card">
                    {#                   liste des prix#}
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Public</th>
                                            <th>Prix</th>
                                            <th>Info</th>
                                            <th class="align-middle text-right">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for priceGrid in vikaEvent.priceGrid %}
                                        <tr>
                                            <td>{{ priceGrid.public }}</td>
                                            <td>{{ priceGrid.price }}</td>
                                            <td>{{ priceGrid.info }}</td>
                                            <td class="align-middle text-right">
                                                <a class="btn btn-sm btn-icon btn-secondary"
                                                   href="{{ path('price_grid_edit',{'id':priceGrid.id}) }}">
                                                    <i class="fa fa-pencil">
                                                    </i>
                                                    <span class="sr-only">Editer</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="10">Aucune tarification disponible</td>
                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h5>Nouveau tarif</h5>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h6>{{ form_label(formPrice.public, 'Public') }}</h6>
                                    <p class="card-text">{{ form_widget(formPrice.public) }}</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <h6>{{ form_label(formPrice.price, 'Prix') }}</h6>
                                    <p class="card-text">{{ form_widget(formPrice.price) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h6>{{ form_label(formPrice.info, 'Information complémentaire') }}</h6>
                                    <p class="card-text">{{ form_widget(formPrice.info,
                                            { 'attr': {'rows' : '4' }} ) }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h6>{{ form_label(formPrice.label, 'Label') }}</h6>
                                    <p class="card-text">{{ form_widget(formPrice.label) }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="card-footer-content text-muted">
                                <div class="metadata">Diffusé le {{ vikaEvent.createdEv |date('d/m/Y') }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-11">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info">
                                Enregistrer tarif
                            </button>
                            {{ form_end(formPrice) }}
                        </div>
                    </div>
                    <div class="col-1">
                        {% if (newMode==false) %}
                            {#    Delete ne doit apparaitre que qd on édite un événement déjà existant, pas qd on crée un nouveau#}
                            {{ include('vika_event/_delete_form.html.twig') }}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <a href="{{ path('vika_event_showList',{'cat':'all'}) }}">Tous les événements (vue site web)</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
