{% extends 'base.html.twig' %}

{% block title %}Administration des activités VIKA{% endblock %}

{% block Body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1> {{ vikaEvent.title }}
                    {% if (is_granted('ROLE_ADMIN')) %}
                    <a class="btn btn-sm btn-icon btn-secondary"
                       href="{{ path('vika_event_edit', {'id': vikaEvent.id}) }}">
                        <i class="fa fa-pencil">
                        </i>
                        <span class="sr-only">Modifier</span>
                    </a>
                    {% endif %}
                </h1>
                <div class="row">
                    {% if (is_granted('ROLE_ADMIN')) %}
                    <a href="{{ path('vika_event_index') }}"
                       class="btn-btn-primary">
                        <span class="badge badge-pill badge-warning">Liste des activités</span>
                    </a>
                    {% endif %}
                </div>
                <div class="card">
                    <div class="card-body">
                    </div>
                    {% if (is_granted('ROLE_ADMIN') and vikaEvent.published) %}
                        <div class="card-body">
                            <h6>Evénement publique</h6>
                        </div>
                    {% endif %}
                    {#                    <figure class="embed-responsive embed-responsive-16by9 mb-0">#}
                    <div class="col-10 offset-2">
                        <img class="embed-responsive-rounded"
                             src="{{ asset('/upload/vikaEvent/' ~ vikaEvent.imageName) }}"
                             alt="Card image" width="80%">
                    </div>
                    {#                    </figure>#}
                    <div class="card-body">
                        <h6>Titulaire de l'événement</h6>
                        <p class="card-text">
                            {{ vikaEvent.owner }}</p>
                    </div>


                    <div class="card-body">
                        <h6>Date de début</h6>
                        <p class="card-text">
                            {{ vikaEvent.startDate |date('d/m/Y H:i:s') }}
                        </p>
                    </div>

                    <div class="card-body">
                        <h6>Date de fin</h6>
                        <p class="card-text">
                            {{ vikaEvent.endDate |date('d/m/Y H:i:s') }}
                        </p>
                    </div>
                    <div class="card-body">
                        <h6>Capacité</h6>
                        <p class="card-text">
                        <td>{{ vikaEvent.capacity }}</td>
                        </p>
                    </div>

                    <div class="card-body">
                        <h6>Description</h6>
                        <p class="card-text">
                            {{ vikaEvent.info|raw }}
                        </p>
                    </div>

                    {#                   liste des prix#}
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h5>Tarif</h5>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Public</th>
                                            <th>Prix</th>
                                            <th>Info</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for priceGrid in vikaEvent.priceGrid %}
                                        <tr>
                                            <td>{{ priceGrid.public }}</td>
                                            <td>{{ priceGrid.price }}</td>
                                            <td>{{ priceGrid.info }}</td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="10">Aucune tarification disponible</td>
                                        </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="card-footer-content text-muted">
                            <div class="metadata">Diffusé le {{ vikaEvent.createdEv |date('d/m/Y') }}</div>
                        </div>
                    </div>
                </div>

                {% if (is_granted('ROLE_ADMIN')) %}
                    {{ include('vika_event/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>

    {#<table class="table">
        <tbody>
            <tr>
                {% if (is_granted('ROLE_ADMIN')) %}
                <th>Id</th>
                <td>{{ vika_event.id }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Titulaire de l'événement</th>
                <td>{{ vika_event.owner }}</td>
            </tr>



            <tr>
                <th>StartDate</th>
                <td>{{ vika_event.startDate ? vika_event.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ vika_event.endDate ? vika_event.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
#}




{% endblock %}
