{% extends 'base.html.twig' %}

{% block title %}Utilisateurs de VIKA{% endblock %}

{% block Body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id': user.id}) }}">Montrer</a>
                    <a href="{{ path('admin_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun utilisateur enregistré sur le site</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
